[2017-01-31 08:16] lbineau opened #1 "Wrong output"
Hi,
Thank you for your library.
I have a problem with this XML that is transformed into the following JSON me this and the structure is really not the same between the two.

[code]
=>
[code]

[2017-01-31 09:24] amitguptagwl commented on #1
Thanks for the information. I'll have a look in the evening.

Note: Currently I skip arguments from parsing. I'm planning them to make as a part of configuration.

[2017-01-31 14:29] amitguptagwl commented on #1
It seems that the issue is because of the self closing tags present in the XML. Can you plz tell me what  output are you expecting from the above XML?

I'm just wondering if the value of self closing tag should be set to blank as I ignore the attributes of any tag.

[2017-02-01 08:16] amitguptagwl commented on #1
I have released another version to address above issue and with few new features. But it is failing for above XML. So I'll fix that issue in the evening today and will update you.

[2017-02-01 23:14] amitguptagwl commented on #1
Just released 2.1.0. Plz have a look on read me as well.

[2017-02-01 23:14] #1 closed

[2017-03-14 09:49] nicolasandrieux opened #3 "parse fail to get attribute"
Hi,

when I try to parse string like `<tagname prop1="prop1" />`the parser fail to get the property

`fastXmlParser.parse('<tagname prop1="prop1" />')` return empty object
`fastXmlParser.parse('<tagname prop1="prop1"></tagname>')` return expected object

There is any option I'm missing?
I currently use those options:
[code]

[2017-03-14 10:22] nicolasandrieux opened #4 "no validate function"
Hi,

I installed `fast-xml-parser` using `npm install fast-xml-parser` and there is no `validate` function in the object, only `convertToJson` , `getTraversalObj` and `parse` function.

I'm don't need it but just to warn you.

[2017-03-14 12:58] amitguptagwl commented on #3
Thanks @nicolasandrieux to find it out. I'll check it in few hours.

[2017-03-14 13:04] amitguptagwl commented on #4
@nicolasandrieux Can you plz tell me how are you using validate function? As I'm able to use it in following way in my other project [Stubmatic](https://github.com/NaturalIntelligence/Stubmatic/blob/master/index.js);

[code]

Refer [this](https://naturalintelligence.github.io/fast-xml-parser/) for web example.

[2017-03-14 20:37] amitguptagwl commented on #3
Fixed and publish. Kindly use 2.3.1

[2017-03-14 20:37] #3 closed

[2017-03-17 12:05] amitguptagwl commented on #4
Closing as no answer

[2017-03-17 12:05] #4 closed

[2017-03-22 17:42] lgra opened #5 "Can't get CDATA section content"
Hi,

It seems that CDATA section are ignored when parsing XML, and produce an invalid "Invalid comment" exception when validating.

For exemple, this XML:

[code]

produces:

[code]

Is there a way to make fast-xml-parser put CDATA content as the string value of the property (`name: "Jack"` in the exemple)?

[2017-03-22 20:50] amitguptagwl commented on #5
Yes, I dint handle the CDATA yet. let me check the CDATA rules. So I can handle it effectively.

[2017-03-22 23:30] amitguptagwl commented on #5
I have added the support for handling CDATA. But I need to run performance test before publishing my changes.

[2017-03-23 09:10] lgra commented on #5
Great news.

[2017-03-24 13:21] amitguptagwl commented on #5
As I'm busy with some job interviews not getting the time to run the perf tests. :-( Will do it after a week. But I have published the changes. So plz use the latest version of npm repo for CDATA support.

[2017-03-24 13:21] #5 closed

[2017-04-12 10:10] hermosilla opened #6 "Removed whitespace at startup"
Hi, in the getTraversalObj function, the blank spaces are removed at the beginning of the text. Sometimes these blanks are important, could you add this removal as optional in the options parameter?

Thank you very much.

var getTraversalObj =function (xmlData,options){
    options = buildOptions(options);
    **xmlData = xmlData.replace(/>(\s+)/g, ">");//Remove spaces and make it single line. (TH

[2017-04-12 11:03] amitguptagwl commented on #6
Hi,
Is it removing the blank spaces from the value of a node?

On Wed, Apr 12, 2017 at 3:40 PM, hermosilla <notifications@github.com>
wrote:

--
Cheers
*Amit Gupta*

*[image: 1489506171823_1.png][image: 1489506183684_2.png]
<https://twitter.com/amitguptagwl>[image: 1489506193765_3.png]
<http://stackoverflow.com/users/453767/amit-gupt>[image:
1489506225742_4.png] <https://www.linkedin.com/in/amitgu

[2017-04-12 11:41] hermosilla commented on #6
Hi,
In this example:
<?xml version="1.0" encoding="UTF-8"?>
<root xml:space="preserve">
  <result toptype="Normal">
      <line number="1">                    234 +</line>
      <line number="1">                    100 +</line>
      <line number="2">    Total:       334.00  </line>
  </result>
</root>

This is the result:

{"root":{
   "space":"preserve",
   "result":{
      "toptype":"Normal",

[2017-04-13 02:03] amitguptagwl commented on #6
Thanks. Now I got your point. I believe just commenting the line in the code , as you mentioned, may cause issue when XML is not well formatted. So I'll have to handle it.

Unfortunately I don't have any machine to work. So let's wait for the weekend so that I can borrow someone's machine and fix this.

[2017-04-14 10:37] amitguptagwl commented on #6
@hermosilla issue is solved. Your suggestion worked. Thanks

[2017-04-14 10:37] #6 closed

[2017-04-19 08:39] aseemrastogi opened #7 "CDATA parsing"
Hi - Following CDATA in XML fails to convert correctly in JSON.

<SOLUTION><![CDATA[You can filter ICMP messages of type &quot;Timestamp&quot; and &quot;Timestamp Reply&quot; at the firewall level. Some system administrators choose to filter most types of ICMP messages for various reasons. For example, they may want to protect their internal hosts from ICMP-based Denial Of Service attacks, such as

[2017-04-19 13:09] amitguptagwl commented on #7
I believe you have used some HTML/XML tags in your comment which formatted
it. Can you plz mark them as code? So the sample XML can be seen correctly.

On Wed, Apr 19, 2017 at 2:09 PM, aseemrastogi <notifications@github.com>
wrote:

--
Cheers
*Amit Gupta*

*[image: 1489506171823_1.png][image: 1489506183684_2.png]
<https://twitter.com/amitguptagwl>[image: 1489506193765_3.png]
<http://stackoverflow.

[2017-04-20 04:54] aseemrastogi commented on #7
`<SOLUTION><![CDATA[You can filter ICMP messages of type &quot;Timestamp&quot; and &quot;Timestamp Reply&quot; at the firewall level. Some system administrators choose to filter most types of ICMP messages for various reasons. For example, they may want to protect their internal hosts from ICMP-based Denial Of Service attacks, such as the <I>Ping of Death</I> or <I>Smurf</I> attacks. <P>However, y

[2017-04-20 07:25] amitguptagwl commented on #7
The response JSON of given XML is

[code]

You can try [here](https://naturalintelligence.github.io/fast-xml-parser/). I hope you are on latest version of parser.

Tell me if it is not expected.

[2017-04-21 09:35] amitguptagwl commented on #7
Closing because of no response. Feel free to reopen if you feel that you still have the issue.

[2017-04-21 09:35] #7 closed

[2017-04-21 11:05] aseemrastogi commented on #7
Hi - Reinstalled latest version 2.4.1, still facing same issue.
Even tried giving option {textNodeName : "SOLUTION"} but did not work.

Any suggestions?

[2017-04-21 15:52] amitguptagwl commented on #7
Well!! the version of xml parser in 2.4.1 only. So it is expected to work
on both place. Try to save the sample in some XML file and try from cli and
check if it is working.

On Fri, Apr 21, 2017 at 4:35 PM, aseemrastogi <notifications@github.com>
wrote:

--
Cheers
*Amit Gupta*

*[image: 1489506171823_1.png][image: 1489506183684_2.png]
<https://twitter.com/amitguptagwl>[image: 1489506193765_3.png]

[2017-05-04 04:26] brad1121 opened #8 "Leaves out Key/Value pair when value contains single quotes"
Not sure if this is intended or not, but take the following
`<Event time="00:05:00" customAttr="5" ID="568" Name="'Some Name' some more alpha numeric string ">`

When this is parsed the Name attribute is skipped.

How can I either write a custom validation on key/values, or set an option to allow this? Or is this a bug?

I will add, it parses correctly in xml2js

[2017-05-04 11:31] amitguptagwl commented on #8
Can you plz share the complete XML?

On 04-May-2017 9:56 AM, "Brad" <notifications@github.com> wrote:

[2017-05-04 11:49] brad1121 commented on #8
I can't. It's a feed which changes daily that is not publicly available. This is an **out of the ordinary** occurrence. It has been running fine for the last 5 days... I can give a altered sample of the complete schema.

This is a one off where the Name field had a nested '' in it where it typically shouldn't.

[code]
There can be thousands of Meet's in root, There are between 8-13 events per Meet

[2017-05-04 12:03] amitguptagwl commented on #8
@brad1121 single quote in value is allowed if the complete value is enclosed in double quote and vise versa. If the parser is ignoring only single attribute but parsing all other attributes then it seems a bug otherwise it is configuration issue.

Can you plz send me what is the parsed response?

I don't have any machine for next 2 weeks at least. So I'll not be much active to fix the issue, if an

[2017-05-04 12:08] brad1121 commented on #8
All other nodes without the nested single quotes worked as expected.

Parsed Event response as follows.

[code]

Setup as follows

[code]

[2017-05-11 22:26] amitguptagwl commented on #8
Thanks for your response. I hopefully buy a machine and internet this
weekend. So I'll solve your issues soon.

On 04-May-2017 9:08 PM, "Brad" <notifications@github.com> wrote:

[2017-05-17 13:31] EyesOnlyNet opened #10 "text with "leading-zero" result in wrong value"
Hi, i faced an issue regarding the conversion of "date" and "time" values with leading zeros.

Given:
[code]

Result:
[code]

Expected:
[code]

I need the original, _unprocessed_ values of the XML. So my idea would be, to have an option like `"preserveTextNodeValues": true` or `"convertTextNodeValues": false` to skip the value conversion and keep the original string value.

[2017-05-17 20:15] amitguptagwl commented on #10
It can be easily done. Bur unfortunately I don't have any machine now a
days. So you'll have to wait for a month.

On 17-May-2017 10:31 PM, "Steve Reichenbach" <notifications@github.com>
wrote:

[2017-05-18 09:57] EyesOnlyNet commented on #10
I've created a pull request for that (#11). Would be nice if you can check it.

[2017-05-19 04:24] amitguptagwl commented on #10
Thanks a lot for your valuable time to do the changes. But there is one more task need to run ie "bundle". It'll generate the bundled js for web use in lib folder.

Can you plz update that as well? I'm sorry to be dependent.

[2017-05-19 09:49] EyesOnlyNet commented on #10
It is done.
No sorry, if it is only that to proceed.  :smiley:

[2017-05-23 01:03] amitguptagwl commented on #10
I have merged the changes. And updated the version. Let me see if I can publish it to npm using my mobile. Otherwise you'll have to update it via github.

Thanks for your effort and time.

*I hope to get laptop in next 2 weeks.

[2017-05-23 06:14] EyesOnlyNet commented on #10
Great, thank you very much.

[2017-05-26 14:27] loge5 opened #12 "Improve validator performance"
Hi,

First the Parser is incredible fast - good job!
For 5.7MB XML (multiple files, parse parallel) it needs ~150ms  (xml2js needs ~2200ms).
But with validation it needs ~14644ms (!sic).

You can reproduce this even on the "try me" page when you copy/paste more person-elements in the xml. While "parse to Json" stays fast, the validation time seems to grow exponentially.

It would be great if you c

[2017-05-28 10:44] amitguptagwl commented on #12
Thanks for highlighting. What is the performance of other libraries you compared for validation?

Currently I'm not having any machine . So I'll check that in July for increasing the performance. Sorry for the delay.

[2017-05-28 10:47] #10 closed

[2017-05-29 07:02] venkatsep14 opened #13 "CDATA Parsing Issue"
Hi, Not parsing the CDATA correctly. It is able to parse the CDATA when the elements are formatted like this.
<sql-query id="checkemail"><![CDATA[SELECT * FROM user_tbl WHERE email =? order by id desc]]></sql-query>

if the xml formatted like this - It is failing to get the data.

<sql-query id="checkemail">
   <![CDATA[SELECT * FROM user_tbl WHERE email =? order by id desc]]>
</sql-query>

Instea

[2017-05-29 08:09] amitguptagwl commented on #13
Hi,
Can you plz share the sample XML you are trying with?

[2017-05-29 12:12] venkatsep14 commented on #13
<sql-queries>
    <sql-query id="testquery">
        <![CDATA[select * from search_urls]]>
    </sql-query>
    <sql-query id="searchInfo">
        <![CDATA[select * from search_urls where search_url=?]]>
    </sql-query>
    <sql-query id="searchurls">
        <![CDATA[select search_url from search_urls ]]>
    </sql-query>
</sql-queries>

[2017-05-30 01:02] amitguptagwl commented on #13
Hi,

I'm not sure if the problem is limited to your example only. But it looks
like CDATA is not working at all. However since I don't have machine for
any debugging or fixes. I'll not be able to help you before 8th June
(expected).

Although the problem seems very small, but I'll not be able fix it until I
get some machine. :-(

On 29-May-2017 9:12 PM, "Venkat Dulipalli" <notifications@github.com

[2017-06-05 13:15] amitguptagwl commented on #13
I got my machine. And I have fixed the issue as well. Will publish soon.

[2017-06-05 13:38] amitguptagwl commented on #13
published. Plz use 2.4.3

[2017-06-05 13:38] #13 closed

[2017-06-05 15:06] venkatsep14 commented on #13
Thank you and I will check on this and will update you.

Thanks
Venkat

On Mon, Jun 5, 2017 at 7:08 PM, Amit Gupta <notifications@github.com> wrote:

[2017-06-07 10:55] nidhi-tandon commented on #10
Is this issue resolved in latest npm update 2.4.3?

[2017-06-07 12:22] amitguptagwl commented on #10
Yes. It must be. Let me know if you see any issue.

On 07-Jun-2017 7:55 PM, "NIDHI TANDON" <notifications@github.com> wrote:

[2017-06-08 12:29] amitguptagwl commented on #8
Fixed. Plz refer version 2.4.4

Thanks for the patience.

[2017-06-08 12:29] #8 closed

[2017-06-23 10:38] mariussmit opened #14 "Doesn't support attributes by default."
Great lib. Attribute parsing is off by default. I needed to add the correct options object to make it work.

[code]

[2017-06-23 21:15] amitguptagwl commented on #14
Attributes are supported. Tell me what is the configuration you are doing
and what is the issue you are facing.

On 23-Jun-2017 7:38 PM, "Marius Smit" <notifications@github.com> wrote:

[2017-06-25 06:05] amitguptagwl commented on #12
Done. Previous performance was 2000 rps, new is 21000 rps. But you'll not get the line number where the issue is.

Please let me know if you find any observation.

[2017-06-25 06:05] #12 closed

[2017-06-25 06:07] amitguptagwl commented on #14
Perhaps I didn't get your concern. Do you want to make attribute parsing by default?

The reason I made it configurable because many project who convert XML to json don't want to consider attributes.

Please let me know if there is anything I can help.

[2017-06-25 06:07] #14 closed

[2017-06-25 12:47] mariussmit commented on #14
Thanks Amit. Yes it was merely because I tried the "Try Me" which didn't parse the attributes as well as scanned the readme too quickly, so didn't spot the section on attributes. Maybe you can add an option or a comment on your "Try Me" page for attributes.

[2017-06-29 04:45] amitguptagwl commented on #14
Sure, I'll enhance "try me" page to support most of the options we can do from XML parser.

[2017-06-30 13:01] EyesOnlyNet opened #15 "Tag is not correct detected"
Hi, i faced an issue regarding the detection of an custom tag.

Given:
[code]

Result:
[code]

Expected:
[code]

Is this expected behaviour? Because W3 said that the "." can be part of the tag name: https://www.w3.org/TR/2008/REC-xml-20081126/#d0e804

I suggest to enhance the `tagsRegx` with the allowed characters: `.`, `:`, `_`, `-`. (in this order)

[2017-06-30 15:11] amitguptagwl commented on #15
Ummm, m not sure. Lemme check if it is the case, I'll change it tomorrow
only.

On 30-Jun-2017 10:01 PM, "Steve Reichenbach" <notifications@github.com>
wrote:

[2017-07-01 12:59] amitguptagwl commented on #15
fixed in 2.5.1

[2017-07-01 12:59] #15 closed

[2017-07-02 10:53] EyesOnlyNet commented on #15
Great, thank you!

[2017-07-19 01:47] gxa opened #18 "Self-closing tag is a non-text node whereas empty tag is a text node"
`<tag id="foo"/>` and `<tag id="foo"></tag>` are treated differently. To parse the attributes in the first case you need to specify `ignoreNonTextAttr: false` and for the second case `ignoreTextAttr:false`. Also, the second tag will have a `#text` field and the first one won’t. I think this behaviour doesn’t match [the XML spec](https://www.w3.org/TR/REC-xml/#sec-starttags), as the two should be e

[2017-07-19 14:41] amitguptagwl commented on #18
I'll be back to code from coming Monday. So will check the issue in few
days.

Thanks for raising the issue.

On 19-Jul-2017 7:17 AM, "Gene Expression Atlas" <notifications@github.com>
wrote:

[2017-07-25 03:30] amitguptagwl commented on #18
@gxa Though the both tags should be treated equally, in the parser user can decide weather he wants to ignore attributes of one type or of both type. So if many users of parser library feel that I should make it one, I'll do that.

`#text` is the field when you don't ignore attributes and want to parse the tag with attribute as well as tag value. Eg `<tag attr="val">textval</tag>`.

Let me know if

[2017-07-25 17:17] vlasovigora opened #19 "Parse <![CDATA[0]]> to """
Hello.
I get the error that this xml tag
<section><![CDATA[0]]></section>
is parsed to
section=""
Supposed to be
section=0
![image 11](https://user-images.githubusercontent.com/9316087/28584688-46af8b4e-7176-11e7-9e83-8e90ac9230db.png)
![image 12](https://user-images.githubusercontent.com/9316087/28584689-46b07022-7176-11e7-99f4-bda11c63f634.png)

[2017-07-26 09:15] amitguptagwl commented on #19
I'm sorry. I'm not able to understand your concern. Do you mean to say that you are facing while parsing XML with CDATA?
Please let me know if you have already checked that it valid XML.

[2017-07-26 09:17] amitguptagwl commented on #18
Please raise the other issue if you still have any doubt.

[2017-07-26 09:17] #18 closed

[2017-07-26 10:07] vlasovigora commented on #19
Hello. Thank you for your fast reply.
I created gist with problematic xml https://gist.github.com/vlasovigora/33362483b645d7066c64c9f933419e01
I also tried to validate it by several online xml validators and it is ok.
also this code fastXmlParser.validate(stringWithThisXML) returns true.

In the debugger I see this https://snag.gy/QeOW98.jpg
And after parsing I see this https://snag.gy/L5qcZB.jpg

[2017-07-26 12:56] amitguptagwl commented on #19
This is not the issue with CDATA. try a tag with value 0. You'll get the same result. Try with `textNodeConversion : false ` and update me. I may require to fix it otherwise.

[2017-07-26 13:31] amitguptagwl commented on #19
I have fixed the bug. Test with latest.

[2017-07-27 12:51] vlasovigora commented on #19
It works good. Thank you for quick fix.

[2017-07-29 16:39] alfonsomunozpomer opened #20 "Validator fails for valid SVG file"
Tha validator returns false for this SVG file:
[code]

The source of the file is http://mirrors.creativecommons.org/presskit/icons/by.svg and it’s valid according to [W3C Markup Validation Service](https://validator.w3.org/check?uri=http%3A%2F%2Fmirrors.creativecommons.org%2Fpresskit%2Ficons%2Fby.svg&charset=%28detect+automatically%29&doctype=Inline&group=0).

I pushed the SVG and a test case here

[2017-07-29 17:19] alfonsomunozpomer commented on #20
I also created a PR, hoping that Travis would fail the new test, but it doesn’t unless you inspect the job log. You might want to have a look at your Travis config.

[2017-07-30 04:52] amitguptagwl commented on #20
Not sure about travis-ci (still looking into this). But I have fixed the code for above issue.

[2017-07-30 04:52] #20 closed

[2017-08-02 12:26] rahulghorpade23 opened #22 "CDATA parsing error with regular expression as content"
Hello,

I am facing issue while parsing CDATA containing regular expressions as a value. Normal CDATA is parsing correctly but while using regular expressions as a value it returns blank string.
here is a sample XML for it

`<?xml version="1.0" encoding="UTF-8"?><sample><![CDATA[test]]></sample><firstchar><![CDATA[^[ ].*$]]></firstchar>`

could you please help to sort it out?

Thanks

[2017-08-02 15:54] amitguptagwl commented on #22
I believe the issue is happening because of square bracket. let me check that. thanks to raise it.

[2017-08-02 16:37] amitguptagwl commented on #22
Fixed. Please use latest version.

[2017-08-02 16:37] #22 closed

[2017-08-03 04:40] rahulghorpade23 commented on #22
Thanks for the Fix.

[2017-09-21 07:31] Delagen opened #23 "Possibility to parse attributes as array"
[code]
to
[code]
for simple migration from xml2js or others

[2017-09-21 10:37] Delagen commented on #23
Also parser hang with large xml files, where sax based gives more predictable result

[2017-09-22 04:37] amitguptagwl commented on #23
Thanks for your contribution.
Regarding performance issue. Can you please tell me what exact behavior you experienced? What was the size of XML? And whether it was error out or took a long time to convert it into JSON? if it was error out then what was the error it thrown?

It can help me or others to tweak it.

[2017-09-22 04:42] Delagen commented on #23
With small data this library faster up to 10-15 times
At xml 10M up to 1.5 times
At 100M it hang and terminates with allocation memory error
xml2js parse it at 14 seconds

[2017-09-23 07:34] amitguptagwl commented on #23
thanks for this data. I never tested this for big XML yet. I think I know where I can tweak it. I'll do it as soon as I find some free time. Once again thanks for your time to do this comparison.

[2017-10-02 12:40] winston01 commented on #23
@amitguptagwl

Can you give any hint on the point to "tweak" to improve the performance on large XML files?

[2017-10-03 00:38] amitguptagwl commented on #23
I tested for validator and I got to know that there are 2 reasons of failure.

1. RangeError: Maximum call stack size exceeded.
2. JS RegExp Very Long String

As I'm relying on RE heavily and JS RE engine is not able to parse a very long string (in MBs), it crashes. So either I'll have to change the implementation to read the string char-by-char and put many if conditions or I'll have to use some

[2017-11-24 00:57] clint-tseng opened #25 "NPE on validate()"
`validate('<submission xmlns="http://opendatakit.org/submissions" xmlns:orx="http://openrosa.org/xforms"><data><data id="build_Untitled-Form_1424401835" instanceID="uuid:70ab6d82-110a-4ba6-86ac-071d698fd3a3" submissionDate="2015-02-20T16:07:51.145Z" isComplete="true" markedAsCompleteDate="2015-02-20T16:07:51.145Z"><orx:meta><orx:instanceID>uuid:74ab6d82-110a-4ba6-86ac-071d698fd3a3</orx:instanceID>

[2017-11-27 07:20] Tatsh opened #26 "xml2js: Accept standard input"
Typical command line feature. Very handy with responses from another tool like cURL instead of having to save files before passing to xml2js. Accept `-` as the argument for stdin (or check `isatty()` and read standard input if that returns false).

Right now it can be done in Bash like so:

[code]

Not too bad but this would be easier to type and infer from:

[code]

[2017-11-28 04:29] amitguptagwl commented on #25
let me check

[2017-11-28 04:31] amitguptagwl commented on #25
What if I close submission tag in above sample XML and then validate?

[2017-11-28 04:50] amitguptagwl commented on #26
Currently it can save output as a file if -o option is provided. I'm not sure which feature is more desirable, so either let's wait and see what other thinks for this or we should change the sequence of arguments.

[2017-11-28 06:48] Tatsh commented on #26
My recommendation, although this requires readtoend and currently there are zero dependencies. The code for that is [here](https://github.com/tjfontaine/node-readtoend) if you want to bundle it. This assumes stdin reading and stdout writing is desired if no arguments are provided or if `-o -` is used with no input file.

I can submit a PR if you want.

[code]

[2017-11-28 10:48] amitguptagwl commented on #26
hmmm, I got your point. It'll not bother existing users as well. Please go ahead.. Write the uint test if you can, otherwise I'll complete that before publishing.

Thanks

[2017-11-29 09:51] Tatsh commented on #26
#27

[2017-11-29 09:51] #26 closed

[2017-11-29 12:46] amitguptagwl commented on #25
closing as no update. Please reopen if you fell there is any issue.

[2017-11-29 12:46] #25 closed

[2017-11-29 21:29] clint-tseng commented on #25
So perhaps I misunderstand what `validate()` is meant to do, then. In your sample code it seems to return a boolean indicating if the XML is valid. If it crashes on invalid XML does that mean I also have to `try`/`catch` it?

[2017-11-30 05:39] Delagen commented on #23
I think this issue can be closed? Performance issues is not the subject of this.

[2017-11-30 07:21] #23 closed

[2017-11-30 07:26] amitguptagwl commented on #25
It should return return false only. if it is throwing error there may be some case to cover.

[2017-11-30 19:08] clint-tseng commented on #25
Right, so that's exactly what's happening. I simplified the case:

[code]

[2017-12-01 09:17] amitguptagwl commented on #25
I got your point now. I have fixed it. Sorry for the confusion.

[2017-12-04 05:34] d1d2r31 opened #28 "IE ParseInt Error"
IE not Support Number.parseInt()

Chrome  Support

Number.parseInt -> parseInt()

change plz... have a nice day~

![screenshot_2](https://user-images.githubusercontent.com/11750163/33537707-569b11ee-d900-11e7-8f66-aad26d480ff3.png)

![screenshot_1](https://user-images.githubusercontent.com/11750163/33537680-2d3fd7e4-d900-11e7-8603-2428021561db.png)

[2017-12-04 10:07] amitguptagwl commented on #28
Oh...Ah!! fixed

[2017-12-04 10:07] #28 closed

[2017-12-06 00:25] clint-tseng commented on #25
No problem; thanks!

[2017-12-14 17:33] DishTrain opened #29 "obtain xml text"
How might I access the value '71' in this example?  `<score><c1>71<message>23</message></c1></score>`

fast-xml-parser:
score: {
  c1:
      { message: 23 }}

xml2js:
score: {
  c1:
      { _: 71,
        message: 23 } }

Thank you.

[2017-12-15 14:05] amitguptagwl commented on #29
fixed.

[2017-12-15 14:05] #29 closed

[2018-01-09 00:40] zeng450026937 opened #30 "Parse attr failed when the attr text has "=""
const xml = `<issue entity="Mjg2MzY2OTkyNA==" state="partial" version="1"></issue>`
fastXmlParser.parse(xml, {
    attrPrefix : "@",
    attrNodeName: false,
    textNodeName : "#text",
    ignoreNonTextNodeAttr : false,
    ignoreTextNodeAttr : false,
    ignoreNameSpace : false,
    ignoreRootElement : false,
    textNodeConversion : true,
    textAttrConversion : false,
    arrayMode : false
})

[2018-01-10 05:34] amitguptagwl commented on #30
Thanks to raise an issue. Though I have fixed it by a small change. But I'm working rewriting validator to handle this issue and to handle very long strings (in MBs) which may take some time.

[2018-01-10 13:42] amitguptagwl commented on #30
Fixed. Please use 2.9.0 or later

[2018-01-10 13:42] #30 closed

[2018-01-10 13:53] amitguptagwl commented on #12
I have updated the validator to handle large files as well.

[2018-01-10 13:54] amitguptagwl commented on #23
@Delagen I have updated the validator to handle large files as well.

[2018-01-10 19:02] Delagen commented on #23
@amitguptagwl Thanks for work.    Have you any performance comparison for large files?

[2018-01-11 06:16] amitguptagwl commented on #23
I didn't check the exact time. But I guess it is few seconds for 98mb long file. There was total 21s for 66  tests. including large and small files

[2018-01-11 10:24] Delagen commented on #23
@amitguptagwl  with {ignoreNameSpace: true} out of memory with 50М

[2018-01-11 11:14] Delagen opened #31 "Remove namespace keys as well with ignoreNamespace"
Source
[code]
Result:
[code]

[2018-01-11 11:58] Delagen commented on #31
#32

[2018-01-11 12:57] amitguptagwl commented on #31
Umm, sorry if I'm missing some point. But I never seen namespace with attribute's value. Can you please give me some reference from w3 or wikipedia? I would be interested to know more about it as I may have to update the validator and may have to handle some negative scenarios.

[2018-01-11 13:13] Delagen commented on #31
@amitguptagwl for example http://www.xmlplease.com/xml/attributexmlns/
Namespace can be specified as simply `xmlns` attribute for element cause it default for self and children  and even can be specified for single attribute.
So I offer to remove `xmlns` attribute as well in ignoreNamespace mode

[2018-01-11 14:04] amitguptagwl commented on #31
Currently when we ignoreNamespace

input XML
[code]
Output JSON
.```
{
    "products": {
        "xp": "http://www.xmlplease.com",
        "product": {
            "id": "p1"
        }
    }
}
[code]

[2018-01-11 14:57] Delagen commented on #31
With this the same ))

[2018-01-11 16:15] amitguptagwl commented on #31
I appreciate your effort for the changes. But I believe this change may impact many projects who are already using this library. So until there are some users who want this change explicitly, we should avoid it.

[2018-01-11 16:49] Delagen commented on #31
@amitguptagwl if we remove namespaces from all elements and from all attributes, what the purpose of namespace values in output? Using this namespace urls we still cannot differ namespaced elements & attributes from plain, but can make some incosistence with attributes in output, that does not make any meaning in output

[2018-01-11 16:59] Delagen commented on #31
@amitguptagwl
For example:
Valid XML
[code]
Code:
[code]
Current output:
[code]
PR output:
[code]

[2018-01-12 09:44] amitguptagwl commented on #31
I agree with you.

[2018-01-12 09:50] amitguptagwl commented on #31
Thanks you took care of tests and browser lib js file. I'll publish the changes soon.

[2018-01-12 09:50] #31 closed

[2018-01-12 10:36] Delagen commented on #31
@amitguptagwl Thanks to you for offer this parser to everyone

[2018-01-15 20:44] HaroldPutman opened #33 "parse attr fails when attribute contains newline"
[code]

The data attribute does not show up. I assume this will be fixed with parsing change mentioned in  #30. The real life use case is an SVG file with embedded bitmap image that has an attribute like:
[code]

[2018-01-16 01:40] amitguptagwl commented on #33
Thanks to highlight the issue. The fix for #30 was for incorrect validation/check on attribute name. I believe this may be failing as the RE for attribute value is written for single line. But I'll have to check for proper fix.

[2018-01-16 01:58] amitguptagwl commented on #33
Though the fix is ready I'm wondering if the "\n" should be replaced with single space " " or no space "". Most of the converters replace it with single space " ", but it may break in case of the second example you have given.

[2018-01-16 04:10] #33 closed

[2018-01-16 12:29] HaroldPutman commented on #33
I think that a single space is the correct substitution for the newline. In the case of base64 encoding, any amount of whitespace is ignored.
In the Interim, I was able to fix this by preprocessing the XML data:
[code]

[2018-01-17 07:43] amitguptagwl commented on #33
Thanks. I had published the changes along with some more fixes related to XML comments

[2018-01-18 01:02] rugbbyli opened #34 "parse content in cdata has error"
look this example:
[code]

the parse result was:
[code]

as above shown, when cdata tag was start in newline, the parse result was null.

i wonder if it was a bug or my wrong usage ? i just use the default options.

[2018-01-18 04:06] amitguptagwl commented on #34
Thanks to report this bug.

**Possible issue**: Not considering white spaces before / after CDATA

[2018-01-18 05:31] amitguptagwl commented on #34
Fixed. Please use the v2.9.2 or later

[2018-01-18 05:31] #34 closed

[2018-01-18 08:31] rugbbyli commented on #34
Thanks, would try it later.

[2018-01-19 01:25] rugbbyli commented on #34
Has tested, working as expectedly, thanks!

[2018-01-24 09:45] j0k3r opened #35 "Creating tag/release on GitHub each time you release a new version on NPM"
My project got some validation problem on some XML using 2.9.* version of your library.
2.8.* is working great.

Since you didn't create tag or release on GitHub I can't compare what changed on your side to understand why parsing is failing.

Could you create tag / release on GitHub each time you release a new version on NPM? At least for future release because I guess it'll be hard for previous r

[2018-01-24 10:45] amitguptagwl commented on #35
Thanks, it's a good suggestion. Even I thought about it before 2nd last release but missed because I got stuck with other work.

I really feel sorry if I made your build red. I'll definitely create the changelogs soon. For the time being you can check the commit history, or you can tell me what is basically breaking. So I may help to figure out the issue.

[2018-01-24 10:47] j0k3r commented on #35
I'll open a different issue about the problem :wink:

[2018-01-24 10:51] j0k3r opened #36 "Since 2.9.*, that XML became invalid"
Since the 2.9.0 release, the below xml become invalid when using `xmlParser.validate(xml)`.

[code]
It seems to work on the online tool.
Maybe I use the validate in a wrong way?

### Checklist

* [x] Are you running the latest version?
* [x] Include sample input XML
* [ ] Include actual output
* [ ] Include expected output
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-

[2018-01-24 10:54] amitguptagwl commented on #35
Yeah sure :)

[2018-01-24 11:03] amitguptagwl commented on #36
Validator is quite simple to use as it doesn't require any attribute. What I doubt on single quote and double quotes. Let me check

[2018-01-24 11:08] amitguptagwl commented on #36
It works completely fine for me

[code]

[2018-01-24 11:08] #36 closed

[2018-01-26 13:12] amitguptagwl commented on #35
Changelog added

[2018-01-26 13:12] #35 closed

[2018-01-26 13:13] j0k3r commented on #35
You still haven't create a release or a tag on GitHub: https://github.com/NaturalIntelligence/fast-xml-parser/releases

[2018-01-26 13:17] amitguptagwl commented on #35
I read it somewhere that git automatically tag npm repo as per version mentioned in package.json. Let me check that if it doesn't work

[2018-01-26 13:23] amitguptagwl commented on #35
Check if this work for you git@github.com:NaturalIntelligence/fast-xml-parser.git#v2.9.0

[2018-01-26 13:29] j0k3r commented on #35
Well you should create a tag on git and then publish it to GitHub and it'll appear here: https://github.com/NaturalIntelligence/fast-xml-parser/tags

You can choose to:
- manually create a release on GitHub each time you publish to npm: https://help.github.com/articles/creating-releases/
- manually create a tag on your git repo and then publish it to GitHub: https://git-scm.com/book/en/v2/Git-Basi

[2018-01-26 13:39] amitguptagwl commented on #35
Thanks @j0k3r .  Yes it can be good practice for github users/visitors. But will do it next time.

[2018-01-26 13:40] j0k3r commented on #35
Great, you can still create a release right now and name it 2.9.3 :wink:
Also, you forgot the 2.9.3 information in the changelog

[2018-01-28 03:10] amitguptagwl commented on #35
You'll not let me lazy :laughing:

[2018-01-28 11:38] Opariti opened #38 "textNodeName consistency"
### Checklist

* [ ] Are you running the latest version?
* [ ] Include sample input XML
* [ ] Include actual output
* [ ] Include expected output
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [ ] Did you [star](https://github.com/NaturalIntelligence/fast-xml-parser/stargazers) the repository for further updates? ;)

I have the following input

`<?xml ve

[2018-01-29 02:59] amitguptagwl commented on #38
@Opariti The reason to include issue template is to understand the issue better instead of throwing random questions later. I have modified your comment to tick 2 options.

As you can see in the input XML, 'i' tag has one nested tag. It means 'i' is gonna be an object containing the nested tag as property.

[code]

Now since it also has text value, you need some temporary property for text value.

[2018-01-29 02:59] #38 closed

[2018-01-29 09:03] Opariti commented on #38
Thanks, it answers my question

[2018-01-30 10:46] jstolz opened #39 "fast-xml-parser in an Angular CLI environment"
Hello,
I need help.
* I created an Angular CLI (1.6.5) project and after that I install fast-xml-parser (npm install fast-xml-parser --save (2.9.3) and run the app with ng serve. Until here everything is OK.

* Now I try to use it in the way you described

In a default component I try to add the require
`
import { Injectable } from '@angular/core';
var fastXmlParser = require('fast-xml-parser');

[2018-01-30 12:28] amitguptagwl commented on #39
1. Are you facing problem when you include `fast-xml-parser` or when you use it in your code?
2. When you are importing other packages why are you using `require` to import `fast-xml-parser`?

I believe the problem is more related to syntax not the library. So please change it to `import parser from fast-xml-parser` and then try.

[2018-01-30 13:06] jstolz commented on #39
Could you please provide me an exact syntax? Everything I try did not work

scripts.bundle.js:1 Uncaught ReferenceError: require is not defined
    at scripts.bundle.js:1
(anonymous) @ scripts.bundle.js:1
core.js:3675 Angular is running in the development mode. Call enableProdMode() to enable the production mode.
i-hub-header.component.ts:21 onDashboardClicked(..) executed.
core.js:1440 ERROR Type

[2018-01-30 14:00] amitguptagwl commented on #39
I believe the issue is related to ES6 implementation. Check https://medium.com/the-node-js-collection/an-update-on-es6-modules-in-node-js-42c958b890c

Have you tried to import any other 3rd party library?

[2018-02-02 06:00] jstolz commented on #39
Hi,
I found a solution, just add the line "declare var require: any;" before the require.
Regards Jürgen

[code]

[2018-02-02 06:00] #39 closed

[2018-02-02 07:36] Delagen opened #40 "Decode HTML entities in text values"
### Checklist

* [x] Are you running the latest version?
* [x] Include sample input XML
* [x] Include actual output
* [x] Include expected output
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [x] Did you [star](https://github.com/NaturalIntelligence/fast-xml-parser/stargazers) the repository for further updates? ;)

I include PR soon

[2018-02-02 09:28] amitguptagwl commented on #40
Published

[2018-02-02 09:40] amitguptagwl commented on #40
I believe it should not parse HTML entities withing CDATA range.

[2018-02-02 10:51] Delagen commented on #40
@amitguptagwl CDATA also can contain HTML entities

[2018-02-02 12:04] amitguptagwl commented on #40
Yes. :)
So what I expect from `<tag><![CDATA[&lt;sender&gt;John Smith&lt;/sender&gt;]]></tag>` is

[code]

But what I'm getting from current parser is

[code]

[2018-02-02 12:23] Delagen commented on #40
And it's right

[2018-02-02 14:33] amitguptagwl commented on #40
As per the [wiki](https://en.wikipedia.org/wiki/CDATA),

Above phrase in my words (understanding),

[2018-02-02 14:45] Delagen commented on #40
@amitguptagwl I will make some refactoring, and place PR tomorrow

[2018-02-02 15:34] amitguptagwl commented on #40
Thanks @Delagen . In case if you are busy with some other prior work, we can just roll back the changes for the time being. And will handle them later. I'm anyhow planning to rewrite parser but it'll take at least a month :smile_cat:

[2018-02-02 17:25] Delagen commented on #40
Thanks @amitguptagwl for work, I placed PR to not decode CDATA
But seems parser ignore sibling text when CDATA present
[code]
result in:
[code]

[2018-02-03 15:43] amitguptagwl commented on #40
Sorry I'm holding this PR as I'm rewriting the parser So it'll become to handle this situation, large files, reduce time for separate validation etc. I'm 60% complete with the change. Will update you with the progress.

[2018-02-03 19:03] Delagen commented on #40
Thanks for your project. I have a pleasure to contribute if project owner interested in making it code better. )

[2018-02-04 10:07] amitguptagwl opened #43 "Detail on Array mode"
@Delagen , I'm rewriting the XML parser to handle large files and for other useful features. Hence I was revisiting the test cases.  As you did the changes to parse attributes as array in #23 , I have a query to clear the expectations;

In the test "should parse nodes as arrays" in file `xmlParser_spec.js`, somewhere attribute is parsed as object and somewhere as array.
[code]

Can you please clea

[2018-02-05 04:21] amitguptagwl commented on #43
Thanks for your quick response. As you initially mentioned `for simple migration from xml2js or others` for this change, let me check how is that library transform above example. So the consistency can be mentioned.

Thanks

[2018-02-05 05:27] Delagen commented on #43
@amitguptagwl https://github.com/Leonidas-from-XIV/node-xml2js#options
attrkey: object key for collecting attributes. Your previous implementation cannot wrap attributes in subobject, all placed in single level with prefix.
You can read other options for future implementation. As for me only this prevent me to migrate.

[2018-02-05 10:39] amitguptagwl commented on #43
There was an option `attrNodeName` for the same purpose.

It's fine if something is not implemented, my main concern is if something is half implemented.

Thanks a lot for your active discussion and contribution.

[2018-02-05 11:45] Delagen commented on #43
That was my first PR ))

[2018-02-05 12:28] amitguptagwl commented on #43
I have just compared the performance of xml2js with both version V2, V3 and I feel `fast-xml-parser` can give the advantage in case of small files only. When it comes to big files the performance of `xml2js` is stable and very fast than this library. So there is no advantage to keep adding the features to this library

[2018-02-05 12:34] Delagen commented on #43
Strange... at about 20M
    √ xml2js with large (9049ms)
    √ fast-xml-parser with large (279ms)
    √ xml-js with large (33326ms)

[2018-02-05 12:35] amitguptagwl commented on #43
where did you get this figure from? May be I'm testing in the wrong way.

[2018-02-05 12:38] Delagen commented on #43
I'l take sample XML SOAP:response with ~80К CDATA base64 response
Make source with
[code]
And parse it 100 times.

[2018-02-05 12:45] amitguptagwl commented on #43
I'm using benchmark js to test

[code]

[2018-02-05 13:00] amitguptagwl commented on #43
You're making me to push my changes.... Can you plz share the gist ? I'm definitely doing something wrong. Because for me xml2js always takes 3s for both small (1.5kb) and big (98mb) files.

[2018-02-05 13:05] Delagen commented on #43
@amitguptagwl Can you share benchmark project?

[2018-02-05 13:21] amitguptagwl commented on #43
It is just a file in benchmark folder. Let me share the code;

[code]

[2018-02-05 17:44] Delagen commented on #43
@amitguptagwl xml2js speed vary on data. For example: modified 3 lines
[code]
where test.xml something like
[code]
And result
xml to json V1:5.084196828113811 requests/second
xml2js :0.11925605306783423 requests/second
__50!!! times__

even with validation (which unneeded if user trust source)
xml to json + validation V1:0.7115240765649846 requests/second
xml2js :0.11756098869218376 requests/secon

[2018-02-06 00:54] amitguptagwl commented on #43
Agree, with the XML having CDATA benchmarks are as follows;

xml to json V1: 36.2170364893656 requests/second
xml to json + validation V1: 16.293542685483445 requests/second
xml to json + validation V2 : 18.840299721018933 requests/second
xml2js : 8.493040709182775 requests/second

for small file

xml to json V1: 44887.09328602369 requests/second
xml to json + validation V1: 17996.547289493574 req

[2018-02-06 08:39] amitguptagwl commented on #43
There is some more interesting result. I have created parser V3 which is not doing validation and I've done some more changes.

Now when I tested against 98m file

V1: error out due to RE
V2: 8648ms (include validation as well)
V3: 7441ms (no validation, less RE)
xml2js: 4ms

But when I read the output of xml2js, it just read 2 starting tags and skipped rest of the XML. Hence it was fast.

Moreove

[2018-02-06 12:29] Delagen commented on #43
4 times not too big degradation for support of large files, I think it still faster than xml2js.
My old options for xml2js, may be that change some?
[code]

[2018-02-06 12:50] amitguptagwl commented on #43
please check 'spec/assets/" folder. I'm using sample.xml, ptest.xml, and midsize.xml

[2018-02-07 19:10] makromat opened #44 ""<" and ">" characters in values are no longer encoded"
Hi There,
I installed your package recently and I noticed something has changed. some html characters are no longer encoded. Is there way how to enable it again?
Thanks

[2018-02-08 03:03] amitguptagwl commented on #44
@makromat I would appreciate if you can fill the checklist while raising the issue or at least provide the necessary information as per the checklist.

[2018-02-08 08:30] amitguptagwl commented on #40
v3 is live to handle this issue

[2018-02-08 08:30] #40 closed

[2018-02-08 08:32] amitguptagwl commented on #43
Performance (should have been discussed in separate thread) is degraded to handle some cases of XML but no impact due to large files now.

I have removed `arraymode` from official documents but it is still supported. As soon as I'll verify it, I'll make it as a part of official document.

[2018-02-08 08:32] #43 closed

[2018-02-08 08:43] makromat commented on #44
@amitguptagwl sorry what checklist do you mean?

[2018-02-08 09:14] amitguptagwl commented on #44
When you raise an issue, github shows you a default template which renders like this when you submit the issue.

### Checklist

* [ ] Are you running the latest version?
* [ ] Include sample input XML
* [ ] Include actual output
* [ ] Include expected output
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [ ] Did you [star](https://github.com/NaturalIntel

[2018-02-08 11:21] Delagen opened #45 "Why carriage return removed from values?"
### Checklist

* [x] Are you running the latest version?
* [x] Include sample input XML
* [x] Include actual output
* [x] Include expected output
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [x] Did you [star](https://github.com/NaturalIntelligence/fast-xml-parser/stargazers) the repository for further updates? ;)

I think
[code]
should be removed
but

[2018-02-08 11:47] Delagen commented on #44
@makromat decodeHTMLchar:false by default, so all must work now with 3.0 version

[2018-02-09 03:15] amitguptagwl commented on #45
@Delagen Have you found any test failing because of this change? (leaving the options naming aside)

If you check line number 51 of [parser.js](https://github.com/NaturalIntelligence/fast-xml-parser/blob/master/src/parser.js), It should be removing "carriage return" already.

[2018-02-09 03:21] amitguptagwl commented on #45
Sorry I missed your comment above. Why should it be removed?
[code]

[2018-02-09 03:34] amitguptagwl commented on #44
@makromat, I believe you are using FXP 2.9.4 where decoding HTML entities was by default as expected in most of the scenarios. However, considering the need of different users there is an option provided in v3 to enable/disable it.

As @Delagen suggested, if you move to the latest version i.e. v3, it should solve your problem as "decodeHTMLchar:false" is default setting. Otherwise as requested, sh

[2018-02-09 05:43] Delagen commented on #45
@amitguptagwl Check my PR it included test.
With this line you totally remove all CRLF from entire document.
So generic test will fail

[code]
result with trim
[code]

but should be
[code]
or \r\n as in source XML

[2018-02-09 06:54] amitguptagwl commented on #45
In my opinion, both are correct until we have to convert json back to the XML. But I agree to replace CRLF in only the attribute's value with single space will keep it consistent for future changes.

However if we go with current PR, it'll break the expected (though rare) output when multiple CDATA are present in a tag. I have found the solution by changing current RE. But give me some more time i

[2018-02-09 07:27] amitguptagwl commented on #45
ah!! it was simple only. I was doing mistake in `\s` and `\\s`

[2018-02-09 07:56] amitguptagwl commented on #45
I'll publish the changes soon after fixing online demo

[2018-02-09 08:10] Delagen commented on #45
When i make PR, all tests works.

[2018-02-09 08:22] amitguptagwl commented on #45
Yes, because I have added that test now. I was having a doubt that this change may break a scenario hence I have added now.

I'm not sure if I can do the changes in in PR so I have committed the change on master branch. You can check the latest commit.

Code wise it is same as your PR + one small change. Test wise I have added 1 small test and fixed validator for the same.

Thanks a lot for your k

[2018-02-09 08:31] amitguptagwl commented on #45
@Delagen changes are published. Many thanks for your effort and time.

[2018-02-09 08:31] #45 closed

[2018-02-09 08:33] Delagen commented on #45
Thanks

[2018-02-09 08:42] Delagen commented on #45
[code]
seems to be
[code]

[2018-02-09 08:49] amitguptagwl commented on #45
No it should't replace CRLF in CDATA. check the last test of `cdata_spec.js`

[code]

Is it not expected behavior?

[2018-02-09 09:04] Delagen commented on #45
Not in, BETWEEN Cdata blocks, see example

[2018-02-09 09:34] amitguptagwl commented on #45
Sorry for my eye number but I couldn't spot what you said. In above example "\n    middle\n" is something in between the CDATA. Can you please tell me where exactly?

[2018-02-09 09:49] Delagen commented on #45
For example:
[code]
should evaluate to
[code]
or
[code]
???
I think to second
or even
[code]
if trimValues:false

[2018-02-09 10:10] amitguptagwl commented on #45
Hmm, now I see. I even seen in some converter online that they place `\n` before CDATA even if they appear in single line.
I'm not sure what should happen as there is no standard but we should do what majority of converters do.
E.g. if we take CDATA as nested tag which passes it's value to parent tag as raw text then, we should not add `\n`. But if we take it just as a placeholder then yes we shou

[2018-02-11 08:39] amitguptagwl commented on #44
closing as no response. @makromat feel free to reopen if your issue still persist.

[2018-02-11 08:39] #44 closed

[2018-02-12 11:26] TheDeathConqueror opened #47 "What is the command or option to validate XML file from CLI?"
### Checklist

* [x] Are you running the latest version?
* [ ] Include sample input XML
* [ ] Include actual output
* [ ] Include expected output
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [x] Did you [star](https://github.com/NaturalIntelligence/fast-xml-parser/stargazers) the repository for further updates? ;)

What is the command or option to vali

[2018-02-12 11:46] amitguptagwl commented on #47
@TheDeathConqueror I personally never need XML validator from CLI so I have never created it's CLI command yet.

[2018-02-13 13:10] TheDeathConqueror commented on #47
Thanks I would be happy if you can add this feature. I'm downloading the XML files from other server so want to check that they are properly downloaded.

[2018-02-13 13:22] amitguptagwl commented on #47
Will you mind to raise a PR? It just need some changes in cli.js

[2018-02-14 05:08] TheDeathConqueror commented on #47
Yeah sure, let me do that. Thanks

[2018-02-15 02:29] TheDeathConqueror commented on #47
There are 2 branches. Is it fine if I do changes on dev branch? I couldn't find tests for CLI so not adding them.

[2018-02-15 02:46] amitguptagwl commented on #47
Yes that is fine. Thanks

[2018-02-15 05:48] #47 closed

[2018-02-16 08:23] shubham-negi opened #50 "Missing attribute details while converting from xml to json"
The script works well, but the attribute details is not there in the converted JSON. I've attached the dummy.xml file and there is no detail in the output for attribute and its value while converting this specific file in json.

I'm unable to upload the xml file therefore here is a snippet:
[code]
The  id="#nodeID" is missing in the conversion, it just make array for each node of <book>.

### Note

[2018-02-16 08:30] amitguptagwl commented on #50
@shubham-negi for the note

I have just released 3.2.0. Please read the README for more detail.

[2018-02-16 08:31] amitguptagwl commented on #50
For part 1, please let me know the configuration you are using for parsing

[2018-02-16 09:05] shubham-negi commented on #50
[code]

[2018-02-16 09:21] amitguptagwl commented on #50
Please refer code example under [How to User](https://github.com/NaturalIntelligence/fast-xml-parser#how-to-use). The value of `ignoreAttributes` is by default `true` which means it'll not parse attributes until you set it to false.

I hope it should help. Feel free to reopen this thread in case the issue exist.

[2018-02-16 09:21] #50 closed

[2018-02-16 09:30] shubham-negi commented on #50
Please share some working example, because I tried but got the same output

`    var xmlData = '<?xml version="1.0"?><catalog><book id="bk101"><author>Gambardella, Matthew</author><title>XML Developer s Guide</title><genre>Computer</genre><price>44.95</price><publish_date>2000-10-01</publish_date><description>An in-depth look at creating applicationswith XML.</description></book><book id="bk102"><

[2018-02-16 09:39] shubham-negi opened #51 "Unable to find v3.x"
## I'm using 1.x version of parser. I checked the cdn and didn't find any references to v3. How do I get the version as single file.

[2018-02-16 09:48] shubham-negi commented on #51
(https://naturalintelligence.github.io/fast-xml-parser/)

After unchecking 'Ignore attributes from parsing', I'm still not getting the attribute properties and values.

[2018-02-16 10:39] amitguptagwl commented on #50
[Here](https://github.com/NaturalIntelligence/fast-xml-parser/tree/master/spec) is the collection of tests which is full with examples that can help you. However for a quick help,

This is the example I've taken from README which is working fine
[code]

Output

[code]

[2018-02-16 10:45] amitguptagwl commented on #51
You're on very old version. I've replied in last issue with the example. there was no change as explained on README.

If you are using this library in browser you can either refer [CDN](https://cdnjs.com/libraries/fast-xml-parser) or [lib](https://github.com/NaturalIntelligence/fast-xml-parser/blob/master/lib/parser.js) folder. The same thing is mentioned on README.

I'll really appreciate if you

[2018-02-16 10:45] #51 closed

[2018-02-16 12:10] amitguptagwl commented on #50
You can also try online tool to parse it to know that if there is an issue with the library or there is something with the configuration. Here is the link

https://naturalintelligence.github.io/fast-xml-parser/

[2018-02-17 14:18] Opariti opened #53 "Version 3.0.1 - wrong attribute parsing for "" value; no #text key ('Object' instead)"
## Important
If have some **questions**, please read the README or check `spec` folder for examples. Otherwise stackoverflow is the better place to discuss technical questions until or unless they are bug.

If you are raising a **bug** please fill it in following format to avoid long communication and fast resolution.

### Checklist
Please fill below checklist

* [X] Are you running the latest ver

[2018-02-17 14:25] amitguptagwl commented on #53
Can you please check with latest version i.e. 3.2.0 ? Or try online tool for a quick look. It seems fine for me

Output from online tool when ignores attributes;

[code]

[2018-02-17 14:35] amitguptagwl opened #54 "It doesn't parse empty attribute"
### Checklist
Please fill below checklist

* [x] Are you running the latest version? 3.2.0
* [x] Have you include sample input?
* [x] Have you include actual output?
* [x] Have you include expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [x] Did you [star](https://github.com/Na

[2018-02-17 14:59] amitguptagwl commented on #53
I have recently raised a bug #54. It'll publish the fix in few minutes for that. So please use 3.2.1 instead.

[2018-02-17 15:20] amitguptagwl commented on #54
3.2.1 released

[2018-02-17 15:20] #54 closed

[2018-02-17 15:37] Opariti commented on #53
That is perfectly fixed with 3.2.1!

Thanks

PS: Good job Amit, I think this is the best XML to JSON module today, and I have been trying a couple. I also don't see other functional evolutions for this one, thus my hint (since I need it 😊...): a reverse JSON to XML module with the same data model patterns. In this way you'll create a full, homogenious, conversion tool between JSON and XML.

Best,

[2018-02-17 15:38] #53 closed

[2018-02-19 07:28] amitguptagwl commented on #53
Thanks for the appreciation @Opariti . I had launched 3.2.0 with JSON to XML feature. Please have a look on README for more detail.

[2018-02-19 10:56] Opariti commented on #53
I've just tried and it works fine!
You can add to the Readme comparison chart that, besides the processing speed and by my experience, it is the only conversion tool that does a full  reverse one.
Another comment: I didn't need to download Parse.js, it worked with just
`const Parser = require("fast-xml-parser").j2xParser;
...
`
Last comment: you may try, for JSON to XML, to output nodes without ch

[2018-02-19 11:13] amitguptagwl commented on #53
I believe xml2js also does the same job. However I'm not sure if you loose any information while doing reverse conversion.

You need to download parser.js only when you are using it in browser.

There is already a property for that `supressEmptyNode: true`.

Thanks for your appreciation

[2018-02-19 12:01] Opariti commented on #53
I've tried xml2js and, except that I may have wrongly set options, it does some kind of tag mangling thus certainly not 100% reverse conversion.

[2018-02-22 13:55] chenroth-wix opened #55 "xmlns attribute omitted?"
### Checklist
Please fill below checklist

* [X] Are you running the latest version?
* [X] Have you include sample input?
* [X] Have you include actual output?
* [X] Have you include expected output?
* [X] Have you checked if you are using correct configuration?
* [X] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [ ] Did you [star](https://github.com/NaturalI

[2018-02-22 16:01] amitguptagwl commented on #55
Thanks for the reporting this issue. xmlns is expected to be removed only when configuration is set to ignore namespace. Let me fix this issue.

[2018-02-22 16:23] amitguptagwl commented on #55
fixed. will publish the changes soon

[2018-02-22 16:30] amitguptagwl commented on #55
changes are published. Please use 3.2.2

[2018-02-22 16:30] #55 closed

[2018-02-22 17:22] chenroth-wix commented on #55
awesome! thanks for the prompt response

On Thu, 22 Feb 2018, 18:30 Amit Gupta, <notifications@github.com> wrote:

[2018-02-25 20:14] isometriq opened #56 "Text nodes are compressed together, is that normal ?"
### Checklist
Please fill below checklist

* [X] Are you running the latest version?
* [X] Have you include sample input?
* [X] Have you include actual output?
* [X] Have you include expected output?
* [X] Have you checked if you are using correct configuration?
* [X] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [X] Did you [bookmarked](https://github.com/Na

[2018-02-25 20:37] isometriq commented on #56
I think this is what I was searching for
https://github.com/inikulin/parse5

Feel free to close is text nodes compression is an expected behavior.

[2018-02-26 02:02] amitguptagwl commented on #56
@isometriq Yes "text nodes compression is an expected behavior.". However I can provide an option to keep them separate if it is required by many users. So for the time being I'm closing the issue. :smile:

[2018-02-26 02:02] #56 closed

[2018-02-28 14:13] edi9999 opened #58 "Valid XML with open quotes is marked as invalid"
### Checklist

* [x] Are you running the latest version? : 3.2.3
* [x] Have you include sample input?
* [x] Have you include actual output?
* [x] Have you include expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [x] Did you [bookmarked](https://github.com/NaturalIntelligence/fa

[2018-02-28 14:38] edi9999 opened #60 "Two Attributes with quotes gives error"
This issue is very similar to #58 but not exactly the same :

### Checklist

* [x] Are you running the latest version? : 3.2.3
* [x] Have you include sample input?
* [x] Have you include actual output?
* [x] Have you include expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [x]

[2018-02-28 15:40] amitguptagwl commented on #60
marking as bug without complete analysis. Will you mind to raise a PR?

[2018-02-28 15:40] amitguptagwl commented on #58
I'm marking it  as a bug without complete analysis. Will you mind to raise a PR?

[2018-03-01 08:34] amitguptagwl commented on #60
What is the different between both issues?

[2018-03-01 08:36] amitguptagwl commented on #58
fixed. please refer 3.2.4

[2018-03-01 08:36] #58 closed

[2018-03-01 08:49] edi9999 commented on #60
The two issues were similar but the error messages were different in the case where you had two tags with single quotes inside attributes.

I have just tested with the version 3.2.4, and this problem is no more showing up.

Thanks a lot for your reactivity, very much appreciated !

[2018-03-01 08:49] #60 closed

[2018-03-01 21:55] edi9999 opened #62 "Issue with XML containing subdeclaration"
* [x] Are you running the latest version?
* [x] Have you include sample input?
* [x] Have you include actual output?
* [x] Have you include expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [x] Did you [bookmarked](https://github.com/NaturalIntelligence/fast-xml-parser/stargazer

[2018-03-02 04:08] Delagen commented on #62
I think processing instructions not covered yet

[2018-03-03 07:48] amitguptagwl commented on #62
Sorry for the late response. It is a festive season here. As @Delagen said, it is not covered yet. It's a very small change. I'll publish the changes on Monday.

[2018-03-05 03:42] amitguptagwl commented on #62
Please use 3.4.0

[2018-03-05 03:42] #62 closed

[2018-03-07 15:56] janrygh opened #65 "getTraversalObj does not create a traversal object anymore"
### Checklist
Please fill below checklist

* [x ] Are you running the latest version?
* [ x] Have you include sample input?
* [x ] Have you include actual output?
* [x ] Have you include expected output?
* [x ] Have you checked if you are using correct configuration?
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [ ] Did you [bookmarked](https://github.c

[2018-03-08 08:01] janrygh commented on #65
OK, I just started using your library three weeks ago and found it perfect for my pruposes, since I need to parse large XMLs. But part of the parsing is iterating over the children tags in a ordered way. Seems like that possibility dissapeared with the rewrite to children as object instead of array.
Any chance to get children tags as iterable array?

[2018-03-08 09:50] janrygh commented on #65
Thanks, you guess you are right, I can probably use Object.keys(tObj.child)

Of course it is me that should suffer, I am just surfing on your work.

One more question:
var xmlParser = require('fast-xml-parser');
const XML_PARSER_OPTIONS = {
    attributeNamePrefix : "",
    attrNodeName: "attr", //default is 'false'
    textNodeName : "",
    ignoreAttributes : false,
    ignoreNameSpace : false,

[2018-03-08 09:56] amitguptagwl commented on #65
what I can see here is that invalid XML is being parsed. You should have used validator in such case. You can get more detail about that on README.

[2018-03-08 10:19] janrygh commented on #65
Hmm, I do not see what you mean. xmlParser.validate(myXml) gives true.
The return value is:
### Code
[code]
maybe it was the string representation you ment.

The point is that the element y is turned into an attribute.

This happens when attributeNamePrefix : "", not when it is set to ie attributeNamePrefix : "@_"

[2018-03-08 10:35] amitguptagwl commented on #65
The previous comment is edited. Now I can read it correctly.

When you transform JSON to XML back, you'll have to set appropriate options properly. E.g. in this case, you should set either `ignoreAttributes:true` or `attributeNamePrefix` to some unique prefix.

The reason I've provided multiple options while parsing is to get almost same XML. So I don't see any issue here.

[2018-03-08 10:55] janrygh commented on #65
Ok, thanks.

I'll play around with it and see what suits us best.

[2018-03-10 12:12] amitguptagwl opened #66 "Error: Cannot find module 'fast-xml-parser'"
When installing `fast-xml-parser` as dependency and using in a project, it gives error `Error: Cannot find module 'fast-xml-parser'`. This propblem occurs only for latest version i.e. 3.3.1. Everything is normal and running fine till version 3.3.0

### Input data
NA

### Code
NA

### Output data
Error: Cannot find module 'fast-xml-parser'

### expected data
parser should be included and working fi

[2018-03-10 15:49] amitguptagwl commented on #66
fixed. The problem was with .npmignore.

[2018-03-10 15:49] #66 closed

[2018-03-14 10:55] Delagen opened #67 "[j2x]: attrNodeName invalid behavior"
### Checklist
Please fill below checklist

* [x] Are you running the latest version?
* [x] Have you include sample input?
* [x] Have you include actual output?
* [x] Have you include expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [x] Did you [bookmarked](https://github.com/Na

[2018-03-14 15:15] amitguptagwl commented on #67
I can spot 3 bugs here.

[2018-03-15 03:21] #67 closed

[2018-03-15 03:25] amitguptagwl commented on #67
Thanks @Delagen your suggestion made this fix quick.

[2018-03-29 22:03] bb opened #68 "parse option ArrayMode not working"
### Checklist
Please fill below checklist

* [x] Are you running the latest version? 3.3.6
* [x] Have you include sample input?
* [x] Have you include actual output?
* [x] Have you include expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [x] Did you [bookmarked](https://github.

[2018-03-29 22:15] bb commented on #68
BTW, I didn't see arrayMode in the docs, but in the source code, e.g https://github.com/NaturalIntelligence/fast-xml-parser/blob/master/src/x2j.js#L22

If I may add a feature request here: It would be great to have the arrayMode configurable, e.g. per tag name:

[code]

Instead of a tag list as config value, one might consider a arrayModeDecider like this:
[code]
Personally, I currently only need

[2018-03-29 22:23] bb opened #69 "Feature Request: TypeScript type definitions"
Hi there,
it would be great if fast-xml-parser had typescript support.

Would you be willing to include types directly here? The advantage would be that users wouldn't need manually install types.

Another option would be externally, e.g. similar like xml2js: https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/xml2js.
Users would then need to install the types package manually as

[2018-03-30 03:58] amitguptagwl commented on #68
Array mode was previously added by some PR. But since it was having some issues and the original requirement/need was not cleared to me, I decided to remove it from the docs. So the existing project will not face any issue and new users will not use it until it is properly implemented and tested.

So I would be happy if you raise a PR having separate test file testing all the expectations.

But be

[2018-03-30 04:06] amitguptagwl commented on #69
I've less knowledge of how TypeScript type definitions actually works at this moment. However I was also thinking to include them.

In my opinion type definition should be bundled with the project so the user need not to install any extra dependency and for easy maintenance as well.

[2018-03-30 15:26] bb commented on #68
My use case is quite simple: I have elements which sometimes have one child of a name, sometimes multiple. Here's a very simple example:

[code]

[code]

I'd like to be able to always treat the value of "sub" as an array, because in most of my cases it is. But if there's only one value, it is not. Sometimes, I forgot checking the single child case and run into bugs.

Without the option arrayMode,

[2018-04-02 06:37] #69 closed

[2018-04-02 07:12] amitguptagwl commented on #68
I would appreciate that you always include downside of the proposed changes.

I agree on
* having tags/values as array is a good option against having extra condition or iterating whole JSON again.
* transforming values of a specific tag instead of all
* `elementPostProcessor` is better name than `validator`. And since there is already a validator, it may confuse usrs.

But

The main goal of FXP i

[2018-04-03 19:08] rbscott commented on #68
I just started looking at this library as a possibility for parsing xml, and I have a lot of cases where order is important. I think something like arrayMode is what we are looking for as it seems like there is a no way to maintain order if the child elements are converted into dictionaries.

[2018-04-03 19:49] bb commented on #68
@rbscott: I'm afraid that's yet another array mode you're looking for. As far as I understood, it's only for sibling elements having the same tag; at least that's my use case. You're right: by using a map/object as container, there's no order, so basically you can't use this library for mixed content markup but only for data structure (de-)serialization.

[2018-04-04 02:01] amitguptagwl commented on #68
`array mode` (considering that it is not impacting performance) would be an optional option which can be documented with the warning about how deserialization or the sequence of tags can be impacted.

However as the insertion order is always maintained in Array, I can't understand why we can't maintain the order of child elements.

[2018-04-12 10:45] zeng450026937 opened #72 "Not work in firefox ver45"
Should not use ‘let' or ’const‘ as they might not be supported.

[2018-04-12 12:44] amitguptagwl commented on #72
which version are you trying?

[2018-04-13 00:33] zeng450026937 commented on #72
i'm using version 3.3.6.
the only one for/in loop in j2x.js, is writed like
[code]
it might not work properly in older version of browser.

[2018-04-13 02:03] amitguptagwl commented on #72
I've checked the bundle file. And I can't find any occurrence of *const*. Can you please tell me the following

* Have you tried to run the demo in the browser where you are facing the issue?
* Are you using the browser library from cdn or from git repository?

[2018-04-13 13:05] zeng450026937 commented on #72
I'm using yarn for my pkg manager.
I use the version(3.3.6) in my project, and it is failed to run in firefox45.
[code]
above code was found in the j2x.js file in main branch, which is what I'm using.

---

while below code you see, which may be found in the dev branch, and 'var' is used instead.
[code]

[2018-04-14 01:24] amitguptagwl commented on #72
What I can understand from your comment, you are using FXP in your node package. Then you're building browser bundle. If yes then you should use browser bundler which can transform ES6 syntax to ES5. If no then you should use js file from [lib](https://github.com/NaturalIntelligence/fast-xml-parser/tree/master/lib) of FXP github repository, or from [cdn](https://cdnjs.com/libraries/fast-xml-parser

[2018-04-14 01:37] #72 closed

[2018-04-14 01:44] amitguptagwl commented on #68
Closing the issue due to no activity.. feel free to reopen or to continue discussion.

[2018-04-14 01:44] #68 closed

[2018-04-14 02:08] zeng450026937 commented on #72
If that, change the main file in package.json to lib folder will be good for all user. if someone uses it to build for browser, usually node modules will not be processed.

[2018-04-16 06:22] amitguptagwl opened #73 "Object.assign is not supported in IE"
### Checklist
Please fill below checklist

* [x] Are you running the latest version?
* [ ] Have you include sample input?  NA
* [ ] Have you include actual output? NA
* [ ] Have you include expected output? NA
* [x] Have you checked if you are using correct configuration?
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?
* [x] Did you [bookmarked](https://git

[2018-04-16 06:26] Delagen commented on #73
I think is needed polyfill like `core-js/modules/es6.object.assign.js`

[2018-04-16 07:36] amitguptagwl commented on #73
Yea agree

[2018-04-17 10:07] #73 closed

[2018-04-17 10:14] amitguptagwl commented on #73
This is interesting that git can automatically closed the issues on the basis of commit message.

For a not: there is some scope of performance improvement. I'll check that later. I'll publish the build as soon as travis build is green.

[2018-04-18 13:16] tomasbruckner opened #74 "TS2314: Generic type 'Array<T>' requires 1 type argument"
Hello,

When I try to import fast-xml-parse in TypeScript, it throws TS2314 error.

* [x] Are you running the latest version?
* [x] Have you included sample input?
* [x] Have you included actual output or error?
* [x] Have you included expected output?
* [x] Have you checked if you are using correct configuration?
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parse

[2018-04-18 13:52] amitguptagwl commented on #74
type script in not fully implemented in fast-xml-parser yet. Please refer #71 .If it cause any issue. I can remove parser.d.ts from fxp.

[2018-04-18 14:05] tomasbruckner commented on #74
@amitguptagwl it should be fixed with PR #75
If I understood NIMN schema correctly, Array contains either object or string. Can anybody confirm?

[2018-04-19 07:33] tomasbruckner commented on #74
@amitguptagwl Could you please publish the lastest version to NPM? I still see 3.3.8 on NPM site and I need the bug fix in my project :)

[2018-04-19 09:30] amitguptagwl commented on #74
Done :)

[2018-04-19 10:46] tomasbruckner commented on #74
Thanks!

[2018-04-22 12:42] sguimont opened #77 "XML to JSON parsing problem when end tag name contains space before the '>'"
We received from our customers not so perfect XML and sometime we received XML documents with end tag name with space.  This space cause some strange JSON object output.

The name2 tag in the output  must be link directly to person tag not within the name1 tag.

### Input
[code]

### Code
I used the online test page at https://naturalintelligence.github.io/fast-xml-parser/.  I got the same issue w

[2018-04-23 04:33] amitguptagwl commented on #77
I'm working on a feature of [अनुमार्गक (Anumargak)](https://github.com/NaturalIntelligence/anumargak). I'll complete that today hopefully then will work on this issue. Meanwhile, if you are interested to raise a PR, this is the [line](https://github.com/NaturalIntelligence/fast-xml-parser/blob/master/src/x2j.js#L45) which may fix the issue.

[2018-04-23 11:25] #77 closed

[2018-04-23 12:32] sguimont commented on #77
Thanks for your quick response and fix.

[2018-04-26 01:50] amitguptagwl opened #78 "Add features of XML to JSON conversion to online tool"
Please check README or [spec](https://github.com/NaturalIntelligence/fast-xml-parser/tree/master/spec) folder for examples.

[Online demo tool](https://naturalintelligence.github.io/fast-xml-parser/) demonstrate what XML parser can do. However it is currently just parsing XML to JSON and validating XML only. As a part of this change, we have to add following feature to XML to JSON online parser;

[2018-04-26 02:23] amitguptagwl opened #79 "Add feature of JSON to XML to online tool"
Please check README or [spec](https://github.com/NaturalIntelligence/fast-xml-parser/tree/master/spec) folder for examples.

[Online demo tool](https://naturalintelligence.github.io/fast-xml-parser/) demonstrate what XML parser can do. However it is currently just parsing XML to JSON and validating XML only. As a part of this change, we have to parse JSON to XML;

You may discuss here about design

[2018-04-26 02:28] amitguptagwl opened #80 "Update Nimn data format ASCII codes as per specification"
As title says,

File to update : [nimndata.js](https://github.com/NaturalIntelligence/fast-xml-parser/blob/master/src/nimndata.js)

Link for the specification : [nimn spec](https://github.com/nimndata/spec/blob/master/SPEC.md)

*Note* : unit tests need to be fixed accordingly, browser bundle need to be generated

[2018-04-26 12:48] geekiam23 commented on #79
I'd like to give it a shot.

[2018-04-27 02:30] amitguptagwl commented on #78
You're welcome @AlexErling . Let me know if you face any issue.

[2018-04-27 04:01] amitguptagwl opened #81 "Replace Zombie js"
We're currently using zombie js to test if demo application is running as expected. There are some vulnerabilities reported by snyk, and github in deep dependencies. It has no impact on this current library. But we are planning to get rid of these warning messages by replacing it with some alternatives.

*The priority of this issue is low as there is no impact on application or test.*

**What to d

[2018-04-27 09:33] amitguptagwl opened #82 "Add a feature of XML to nimn parsing from CLI"
Fast XML Parser is accessible directly from CLI once it is globally installed.

[code]

As a part of this issue, we have to provide a new command to parse XML directly to nimn format from CLI.

Please read [how to](https://github.com/Roshanjossey/first-contributions) guide if this is your first contribution to any github project.

Feel free to ask any basic question about what to do, how to do, or

[2018-04-30 20:11] AlexErling commented on #78
So I added the two checkboxes to in the index.html. I was wondering if you could provide a little more clarification on the next step? Thanks

[code]

[2018-05-01 03:32] amitguptagwl commented on #78
1. Please provide their description that you can find on README.
2. Let them be unchecked by default
3. Now have a look on `buildParsingConfig` function on index.html to know how to capture it's value and set to parser's configuration.
4. Test it throughly. You can find example XMLs in `spec` folder.

[2018-05-01 20:45] AlexErling commented on #78
This is the test that's failing. So is the next step to make changes to the parser.js file in the configuration?

Failures:
1) DemoApp Parse XML should parse xml to json

Changes so far:
[code]

[2018-05-02 03:54] amitguptagwl commented on #78
My Observations:
1. `trimValues` should be set in the same way `allowBooleanAttributes` is being set.
2. Default value of `trimValues` should be true. So if you don't want do any change in the tests then set it to be checked.

I hope this should fix the tests. Moreover when tests fails, you can also compare the actual and result to know where is the issue

[2018-05-03 03:32] AlexErling commented on #78
Okay, the tests are passing now. I will put in a pull request tomorrow.

[2018-05-03 05:24] amitguptagwl commented on #81
You're welcome. You'll have to find an alternate library first which can be used without any complex configuration. This library is being used in only test. So this PR should not impact actual code.

[2018-05-04 02:38] amitguptagwl opened #84 "Demo App: Disable check boxes related to attributes when ignore attributes is checked"
Please check README or [spec](https://github.com/NaturalIntelligence/fast-xml-parser/tree/master/spec) folder for examples.

[Online demo tool](https://naturalintelligence.github.io/fast-xml-parser/) demonstrate what XML parser can do. When we skip attributes from parsing, relevant options should be disabled.
![screenshot from 2018-05-04 07-54-51](https://user-images.githubusercontent.com/7692328/

[2018-05-04 02:39] #78 closed

[2018-05-05 00:33] littlelan2 commented on #84
Hi, I'd like to try and tackle this one.

[2018-05-05 01:05] amitguptagwl commented on #84
Sure, please go on. When you raise PR, please mention the issue number. So that they'll be linked and the issue will be closed automatically.

[2018-05-07 20:44] EmPiFree commented on #81
Is there a fast way to test it out?

[2018-05-08 07:08] amitguptagwl commented on #81
Tests are written with the help jasmine test framework. You can clone the current project in your local using `git clone`, then install all the dependencies using `npm init`, and then run the tests using `npm run test`.

[2018-05-08 07:51] sigoden opened #86 "j2xParser.parse throws error if value is null"
[code]
error:
[code]
expect: `<value />`

[2018-05-09 05:53] #86 closed

[2018-05-09 08:18] #80 closed

[2018-05-11 12:17] serggonin opened #87 "Doesn't support cyrillic characters"
### Checklist

* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input
1) create file index.js and put js code there
2) type next commands in terminal:
npm init
npm i fast-xml-p

[2018-05-11 13:50] amitguptagwl commented on #87
As the FXP is based on [regex](https://github.com/NaturalIntelligence/fast-xml-parser/blob/3f44718972dbd76d99ba479d22100df6d540a188/src/x2j.js#L45), it uses `\w` to know the tag or attribute name. I believe this is the reason it fails and don't support non-english char.

Thanks to raise the issue and handling it.

I believe to solve the problem in generic way, we can provide a language option in p

[2018-05-11 19:58] serggonin commented on #87
I think this is a great idea to add a language option. I changed it in my fork and it works fine for me. Also this way allow to use multilanguage xml data, beccause there is possibility to set many languages at one moment.

[2018-05-13 07:33] #87 closed

[2018-05-14 05:56] serggonin opened #89 "Enhancement of buildOptions function"
I think parser will work a little bit faster if return defaultOptions when there are not options in buildOptions function, than set every option from defaultOptions in loop.

[2018-05-14 08:41] serggonin opened #90 "Validating was crashed when XML data have byte order mark (BOM)"
### Checklist

* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input
"\ufeff" + "<?xml version=\"1.0\" encoding=\"utf-8\" ?><КорневаяЗапись><Тэг>ЗначениеValue53456</Тэг></Корн

[2018-05-14 14:15] serggonin opened #91 "Validator doesn't support cyrillic characters"
### Checklist

* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input
<КорневаяЗапись><Тэг>ЗначениеValue53456</Тэг></КорневаяЗапись>
### Code
[code]

### Output
{ err:
   { cod

[2018-05-15 02:46] amitguptagwl commented on #89
I just reviewed PR and found that it handles 1 case about `buildOptions` when user don't pass any option. However when there are some options available, it build the options every time for the same configuration.

This problem can be solved by creating the instance of the parser. I was avoiding it so that existing users will not have to do that. If you have any thought, let me know.

[2018-05-15 06:32] serggonin commented on #89
I was trying to set ```newOptions``` as ```defaultOptions``` and use loop from 0 to ```Object.keys(options).length```,  but seems like it changes sequence of properties and parser don't work successful.
So i haven't thoughts how to enhance this block of code right now if there are some user's options.

[2018-05-22 08:39] amitguptagwl commented on #79
@geekiam23 any update on this issue? Is it fine if any other contributor can pick this issue?

[2018-05-22 08:43] amitguptagwl commented on #81
@EmPiFree any update on this? I'm feeling to close this issue due to the false positive security alarms.

[2018-05-22 13:01] geekiam23 commented on #79
@amitguptagwl Yeah, I couldn't figure it out. Please let someone else give it a shot.

[2018-05-28 01:37] amitguptagwl commented on #81
Thanks for the update @EmPiFree

[2018-05-28 01:37] #81 closed

[2018-06-01 12:40] mucahiddayan opened #93 "validate function does not work properly"
### Checklist

* [x] Are you running the latest version?
* [ ] Have you included sample input, output, error, and expected output?
* [ ] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input
xsltFromMozilla can be found here: https://developer.mozilla.org/en-US/docs/Web/XSLT/XSLT_JS_interface_in_

[2018-06-01 12:57] amitguptagwl commented on #93
I tried it with online tool. and the validation was successful.

[2018-06-03 01:14] amitguptagwl commented on #93
Feel free to reopen it if you still face the issue.

[2018-06-04 08:47] mbaer3000 opened #94 "Online tool says "Valid XML" no matter what you paste into the box"
### Input
Observed behavior: Paste anything into https://naturalintelligence.github.io/fast-xml-parser/ and the box to the right says it's "Valid XML"
Desired behavior:  Paste non-XML into the left box and have the right box say it's invalid XML

**Would you like to work on this issue?**

- [ ] Yes
- [x] No

[Bookmark](https://github.com/NaturalIntelligence/fast-xml-parser/stargazers) this reposit

[2018-06-04 14:41] amitguptagwl commented on #94
Oh!! Let me check

On Mon 4 Jun, 2018, 2:17 PM mbaer3000, <notifications@github.com> wrote:

[2018-06-04 15:23] amitguptagwl commented on #94
This might be the issue with online demo only. So removing the bug label until it is confirmed. Will check it tomorrow morning.

[2018-06-05 01:05] #94 closed

[2018-06-05 01:31] amitguptagwl commented on #93
text in a tag is causing the issue. ( "Authors:   ")

[2018-06-05 02:27] #93 closed

[2018-06-05 03:48] amitguptagwl commented on #79
This issue can be picked by any contributor now. Demo UI has been simplified. So now it is just the matter of 10 mins change.

[2018-06-14 09:39] sakshivij commented on #79
Hey! I would like to work on this issue.

[2018-06-14 09:56] amitguptagwl commented on #79
Yes, please go on.

[2018-06-22 00:27] amitguptagwl commented on #79
@sakshivij have you got the chance to work on?

[2018-06-22 04:54] sakshivij commented on #79
Yes! I am working on it. I just need this weekend. If I'm not able to resolve the issue, I'll let you know by Sunday.

[2018-06-22 05:06] amitguptagwl commented on #79
No problem, take your time. It's not urgent. I just wanted to check if you have stuck in some issues and need help

[2018-06-26 02:15] amitguptagwl opened #97 "Break JS Browser bundle into small libraries"
The size of `lib/parser.js` for browsers is 37 kb (normal), 15 kb (minified), 4.7kb (gzipped). If the output bundled library is divided in following then the users can select particular library they want to use.

* XML to JSObject
* JSON to XML
* JS Object to XML
* XML Validator

[Bookmark](https://github.com/NaturalIntelligence/fast-xml-parser/stargazers) this repository for further updates.

[2018-06-28 06:42] zeng450026937 opened #98 "attribute value is parsed into different value"
### Input

Set parseAttributeValue to be true

### Code

[code]

### Output

For xml's attr value like '0001' will be parsed in to number 1

### Expect

Keep the attr value as ‘0001’

[2018-06-28 07:14] amitguptagwl commented on #98
@zeng450026937 Can you please share sample XML and expected XML with configuration you are using?

What I can understand is, you want string `"0001"` to be parsed as string `"0001"` but string `"1"` as number `1`.

Please let me know if my understanding is correct.

[2018-06-29 03:13] zeng450026937 commented on #98
Yes, your understanding is right.

[2018-06-29 03:32] amitguptagwl commented on #98
This situation is not handled yet. What can we do is in this situation

1. if a string starts with 0 and has no decimal point then treat it as string. Otherwise continue with the current code

I would appreciate if you raise a PR for this small change to get it done fast. Otherwise I'll it in few days.

Thanks

[2018-07-01 13:28] sakshivij commented on #79
A little bit of hint would be great!

[2018-07-01 14:01] amitguptagwl commented on #79
Umm.. what are you actually trying?

1. Open the index.html
2. Open the section which is showing options and buttons to parse XML to JSON
3. Paste and create another section. Change the IDs. Modify the options as per the example snippet given on [README.md](https://github.com/NaturalIntelligence/fast-xml-parser#json--js-object-to-xml)
4. Add javascript code to read options and call JSON to XML par

[2018-07-01 14:06] sakshivij commented on #79
Yes! I have done the same thing. But the code gives error.
![image](https://user-images.githubusercontent.com/20201675/42135251-0769a274-7d66-11e8-92b3-ada697a65e99.png)

[2018-07-01 14:07] sakshivij commented on #79
I don't know but somehow the browser is not able to reference Parser. The code works fine on console.

[2018-07-02 16:52] sakshivij commented on #79
Unfortunately error persists!!

[2018-07-03 02:45] amitguptagwl commented on #79
Are you seeing the errors here as well?

https://naturalintelligence.github.io/fast-xml-parser/

I've checked it on firefox and chrome on Ubuntu and it seems working fine.

Ah! I think I got it. You must be seeing this error after your changes. You should have used variable name in small letters "parser" not "Parser

[2018-07-15 11:18] fidelsam1992 commented on #10
This issue is not resolved yet ...
I tried on the latest NPM package 3.11.1
I also tried on the master branch

with this option set :
var options={
    textNodeConversion:false
}

The output is still wrong

[2018-07-16 00:17] amitguptagwl commented on #10
@fidelsam1992 Please refer #99

[2018-07-26 02:31] ssinprem opened #102 "Improve parser to able use for hexadecimal format"
I have problem when I use for parse hex value in my xml file.
It shown always 0.

![image](https://user-images.githubusercontent.com/25925192/43237984-d24a2f8e-90be-11e8-8635-e52b2b07096d.png)

![image](https://user-images.githubusercontent.com/25925192/43238056-0fab2220-90bf-11e8-9601-d949882b22eb.png)

I try to fix as below.

`src/xmlstr2xmlnode.js` line 139
[code]

[2018-07-26 02:46] amitguptagwl commented on #102
@ssinprem It seems the correct fix. Can you please raise a PR for this?

[2018-08-06 12:11] #98 closed

[2018-08-06 12:16] #102 closed

[2018-08-15 21:13] juxe opened #104 "invalid whitespace inside xml tag when format option is true and nodes have attr text"
### Checklist

* [X] Are you running the latest version?
* [X] Have you included sample input, output, error, and expected output?
* [X] Have you checked if you are using correct configuration?
* [X] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input
[code]

### Code
var json is the above input
[code]

### Output
[code]
### expected data
[code]

**Would y

[2018-08-16 19:34] eugeniosegala opened #106 "failed to compile with React + Webpack"
Hi,

I have create a React app with React Create App, when i import fast-xml-parser library with:

**const parser = require('fast-xml-parser');** or **import * as parser from 'fast-xml-parser';**

in the build process (for production) webpack says:

**Failed to minify the code from this file: ./node_modules/fast-xml-parser/src/util.js:5**

Version:
`"webpack": "3.8.1"` specific module for minifica

[2018-08-16 20:55] Delagen commented on #97
I think need to recover some bundling code from my earlier PR

[2018-08-17 00:27] amitguptagwl commented on #106
I'm not sure if const declaration in while loop causing it to be failed.

[code]

[2018-08-17 00:29] #104 closed

[2018-08-17 00:33] amitguptagwl opened #107 "Change in naming conventions"
Though this can be a breaking change but I feel that naming conventions of end user APIs should be improved. Eg browser bundle can be accessed by *parser* which is so generic and may conflict with other libraries so it can be renamed to fxp or fxparser.

There are many other cases where the name may confuse end user. Eg j2xParser.

Your thought on the same are welcome.

[2018-08-17 00:47] amitguptagwl commented on #97
There were many helpful changes in your PR. We may integrate some of them one by one.

[2018-08-20 05:29] jamieYou opened #108 "How to ensure order?"
### Input
Please include your sample code or steps to reproduce here

### Code
[code]

### Output
[code]
### expected data
[code]

[2018-08-21 05:38] amitguptagwl commented on #108
@jamieYou As per [ RFC 7159 -The JavaScript Object Notation (JSON) Data Interchange Format ](http://www.rfc-editor.org/rfc/rfc7159.txt)

[2018-08-21 05:38] #108 closed

[2018-08-22 17:27] Delagen commented on #107
fxParser I think. With console version of fx-parser

[2018-08-22 17:29] Delagen commented on #106
Uglify does not support Es6, so it need to be precompiled with babel or something else, or try to use uglify-es

[2018-08-22 17:30] Delagen commented on #97
Need some export refactoring to support it

[2018-08-23 02:00] amitguptagwl commented on #107
Agree! We can change it.

[2018-08-25 02:15] amitguptagwl opened #110 "Check if rollup is better than webpack for fast-xml-parser"
As title says

[2018-08-25 05:00] Delagen commented on #110
@Zalastax recommend it. But does he using it for a while?
1. RollupJs designed for tree shake ES modules, so plugin need for transform modules to this format, because of project use CommonJs. Or rewrite to ES6 and produce bundle for NodeJs too.
2. I work as a mentor for hobby, and in work project we use Rollup as bundler with very simple config. Debugging in browser make me sad, if your modules ha

[2018-08-25 05:04] Delagen commented on #110
3. Webpack also use some tree shake for now. Overhead is small, but pain in the ass is rare thing

[2018-08-25 05:09] Delagen commented on #110
Here config for @Zalastax if he thinks that we use some plugins that add this breaks:
[code]

[2018-08-25 05:47] amitguptagwl commented on #106
@eugeniosegala has your problem solved?

[2018-08-25 05:47] amitguptagwl commented on #82
This feature will not be implemented until users really need it

[2018-08-25 05:47] #82 closed

[2018-08-25 05:51] amitguptagwl commented on #97
Yes. And I believe FXP is mostly used as npm package, we'll have to check if this refactoring will impact existing users.

[2018-08-25 19:39] Zalastax commented on #110
I've used rollup in a few projects and always with good results. The commonjs plugin for rollup is a good as a first step but it should be migrated away from fairly quickly in my opinion, i.e. the code should eventually be written using ES modules if you want to use rollup. The nice thing about ES modules is that you don't need separate builds - library consumers can just tree shake away unused co

[2018-08-26 07:49] Delagen commented on #110
As I can see you don't produce source maps in your builds.

[2018-08-26 10:08] Zalastax commented on #110
When you use rollup you should let it handle the source maps by setting `sourcemap: true`, then it should be accurate. If source maps work is there still a need to use multiple bundlers?

Can you elaborate on this?
Rollup can emit [several formats](https://rollupjs.org/guide/en#big-list-of-options) and can handle commonjs in the source code. Perhaps you meant something else?

The big reason to use

[2018-08-26 10:27] Delagen commented on #110
I mean webpack can consume different module types. If your code written in ES, you don,t need bundler, simply share source. I use webpack to bundle nodejs and browser bundles

[2018-08-29 07:36] xushuwei202 opened #111 "Dose fast-xml-pare support async run for not block main thead"
Dose fast-xml-pare support async run?
I find it will block main thead run  if I parse large size xml to json.

[2018-08-29 08:03] amitguptagwl commented on #111
No! There is not much advantage of that as it is not doing any async functionality. However you can always wrap it in some async function.

[2018-08-31 01:29] amitguptagwl commented on #111
@xushuwei202 feel free to reopen this for further discussion.

[2018-08-31 01:29] #111 closed

[2018-08-31 01:29] amitguptagwl commented on #106
@eugeniosegala feel free to reopen it or to create another issue.

[2018-08-31 01:29] #106 closed

[2018-09-10 19:56] KurtPreston opened #112 "Error running CLI"
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?

I believe there is an issue in the `package.json`.  It should be declaring `lib/parser.js` under the `files` key.  Without it, the CLI mode doesn't work.

### Input
When I try to run:

[code]

### Output
I get the error:

[2018-09-11 19:19] SameerSiddiqui commented on #112
[code]

Doesn't work

[2018-09-11 20:03] dolanmiu opened #115 "npm install error"
I am getting this error here when doing a simple `npm install`:

https://travis-ci.org/dolanmiu/docx/builds/427328278

It is saying how it cannot find fast-xml-parser/cli.js

[code]

Any ideas?

[2018-09-11 20:26] wookiee89 commented on #115
Having similar issue ..

`npm ERR! path /tmp/deployment/application/node_modules/fast-xml-parser/cli.js
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall chmod
npm ERR! enoent ENOENT: no such file or directory, chmod '/tmp/deployment/application/node_modules/fast-xml-parser/cli.js'
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent
`

[2018-09-11 23:43] amitguptagwl commented on #115
Apologies.. last commit raised the issue. Can you please try now?

[2018-09-12 01:12] sqlwwx commented on #115
@amitguptagwl
`internal/modules/cjs/loader.js:583
    throw err;
    ^
Error: Cannot find module '/home/travis/build/sqlwwx/pure-func/node_modules/fast-xml-parser/tasks/postinstall.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Function.Module.runMain (internal/modules/cjs/loader.js:742

[2018-09-12 02:00] ravibhavsar commented on #115
Having similar issue

`error \node_modules\fast-xml-parser: Command failed.
Exit code: 1
Command: node tasks/postinstall.js
Arguments:
Directory: \node_modules\fast-xml-parser
Output:
module.js:549
    throw err;
    ^Error: Cannot find module 'node_modules\fast-xml-parser\tasks\postinstall.js'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:2

[2018-09-12 02:45] amitguptagwl commented on #115
Ah! It's embarrassing. I'm able to install package in my local successfully but not from the npm registry. I'm working on this.

[2018-09-12 02:56] amitguptagwl commented on #115
fixed. please install 3.12.5

[2018-09-12 05:58] Delagen commented on #115
I think better to use .npmignore instead of manually specify files in package.json.

[2018-09-17 17:44] wookiee89 commented on #115
Running into another simlilar issue. Deploying my code to Azure App Service and deployment fails saying:

`571 verbose stack Error: fast-xml-parser@3.12.0 postinstall: `node tasks/postinstall.js`
571 verbose stack Exit status 1
571 verbose stack     at EventEmitter.<anonymous> (/opt/npm/6.0.1/node_modules/npm/node_modules/npm-lifecycle/index.js:283:16)
571 verbose stack     at EventEmitter.emit (e

[2018-09-17 23:50] amitguptagwl commented on #115
@wookiee89 I've removed an unnecessary dependency from the postinstall. Can you please try to install fast-xml-parser from github directly? if it works then I'll publish it.

[2018-09-17 23:51] amitguptagwl commented on #112
@SameerSiddiqui let me know if you're still facing this issue.

[2018-09-18 08:33] Delagen commented on #115
@amitguptagwl I don't think that problem in this.
@wookiee89 Try to update npm

[2018-09-18 16:05] Delagen commented on #115
Some systems modify spawn ability to limit process count. So it may be caused by this restriction

[2018-09-20 10:11] robations commented on #35
@amitguptagwl If you run `npm version x.y.z` it creates a commit that updates package.json with the new version number, and also tags that commit.

You may need to explicitly push the tags with (for example) `git push --follow-tags` (unless git changed behaviour). Also possible to [set this as the default](https://git-scm.com/docs/git-config#git-config-pushfollowTags).

The latest version I can se

[2018-09-20 13:03] amitguptagwl commented on #35
Though I'm not against in releasing on github as soon as we release on npm. But I didn't find anything valuable in last few releases to make me releasing on github. Please check CHANGELOG.md for more detail. However I'll take care it in future.

[2018-09-20 14:08] robations commented on #35
Thanks Amit, I sometimes do random checks when updating dependencies to see if there is anything I should know, I will check out CHANGELOG.md.

[2018-09-24 04:28] amitguptagwl commented on #115
Please reopen or create a new issue

[2018-09-24 04:28] #115 closed

[2018-09-24 04:31] #112 closed

[2018-09-24 10:40] gknapp opened #116 "Project contains yarn.lock & package-lock.json ?"
Do you use both package managers for this project? It looks like yarn has not been used in some months.

[2018-09-24 10:53] amitguptagwl commented on #116
Yarn was faster so I started using it. But then npm came up with
package-lock so I completely missed yarn to update. I'll have to check if
it is still beneficial to use yarn. If so then will update it

On Mon 24 Sep, 2018, 4:10 PM Greg Knapp, <notifications@github.com> wrote:

[2018-09-26 06:21] hdodov opened #117 "Parse multiple attributes with the same name"
First of all, excellent package.

I'd like to request a feature for parsing a tag with several attributes that share the same name. I don't think it's valid XML, but it's a real use case and I need to parse this... Currently, the package returns only the last attribute value. It would be great if it returned an array with the values, in the order they appear.

For example:
[code]

This returns an

[2018-09-26 10:56] amitguptagwl commented on #117
@hdodov If you pass your sample XML from the validator ( you can try it [online](https://naturalintelligence.github.io/fast-xml-parser/)), you'll get following output

[code]

So yes it is not valid XML. Hence not supported. However as you said that it is a real use case, I would be happy to know more about that for my knowledge. We'll also try to your requested feature. I'll appreciate in case yo

[2018-09-26 12:47] amitguptagwl commented on #117
@hdodov Having any feature means compromising with performance. Though I don't think it'll be much impacting after having this feature. But I was wondering if we should implement the features for individual cases.

For instance, in your case, you can modify the XMLs (I'm assuming they've already generated) using regex. The only reason I'm avoiding the code change as this is one time required featu

[2018-09-26 13:34] hdodov commented on #117
Yep, you're right. But in my case, I couldn't exactly modify the XML because it's dynamic and served by an API. But I ended up not needing to parse those duplicate attributes, so everything is alright.

So yeah, you can scratch that issue.

[2018-09-26 13:53] amitguptagwl commented on #117
ok. So I'm assuming that API owner can't modify their API. I may guide you to form this repo and do necessary changes. However, it'll be an overhead to maintain the separate repo and merging any future change.

[2018-09-27 02:53] #117 closed

[2018-10-16 13:18] qiulang opened #120 "Question: my performance test shows that it is about 2x faster than xml2js, how do I make it even faster ?"
Hi,
This is a question about the performance so sorry if this is not the right place to raise it.
I have several thousands xml files to parse and I found xml2js is too slow. So I try fast-xml-parse. I attached a sample xml file to let you get an idea what kind of xml file I deal with(change file name to .txt because github won't let me upload .xml).
[1000_000000b9_918688901135_15000002965_15000002

[2018-10-16 13:54] amitguptagwl commented on #120
Performance test result can be impacted by machine, input, running processes etc. However, I believe how you are comparing the performance includes the performance of parsing XML and your code to access the particular element. But I compare the performance of parsing XML only.

This is the result for your input XML on a 16gb machine. FXP is around 8-9 times faster.

FXP : 11551.243768244743 reques

[2018-10-16 13:54] #120 closed

[2018-10-16 15:12] qiulang commented on #120
Hi I am not challenging your result. I was asking if there other ways to boost my performance further. For example does my code to access the particular element is recommended way to do it ? Is there a better way ?

[2018-10-26 17:51] milesje opened #121 "suppressEmptyNode not working"
### Checklist

* [X] Are you running the latest version?
* [X] Have you included sample input, output, error, and expected output?
* [X] Have you checked if you are using correct configuration?
* [X] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

[code]

Here is the actual out put.
`<PASS_ELEMENT><CASE-PROSECUTOR></CASE-PROSECUTOR><CASE-JUVENILE-IND></CASE-JUVE

[2018-10-28 13:45] amitguptagwl commented on #116
I've updated yran.lock.

[2018-10-28 13:45] #116 closed

[2018-10-28 13:49] amitguptagwl opened #122 "Use Regex on streams"
This issue is raised for POC to use regex on stream (if possible) and compare performance. So that it'll enable web frameworks to use this library to write body parsers, and may reduce memory usage while parsing big files.

[2018-10-28 13:50] amitguptagwl commented on #121
Please reopen if you still face this issue.

[2018-10-28 13:50] #121 closed

[2018-11-06 10:20] georgehanson opened #123 "Null values JSON to XML"
I am trying to parse JSON to XML to send it through a SOAP api. I have managed to get empty fields to be self closing using the `supressEmptyNode` option. However, for these fields they also need the attributes: `xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"` and `xsi:nil="true"`. Is there an option that enables these, or a way to format the JSON so that these are added when it is parsed?

[2018-11-06 10:30] amitguptagwl commented on #123
Can you please share a sample JSON? So I can understand your query better.

[2018-11-06 10:36] georgehanson commented on #123
Sure. Using this:

[code]

This is converting to the following in XML:

[code]

However, for `DateOfBirth` I need this to have those attributes. So it should look like:

[code]

Does that help?

[2018-11-06 10:56] amitguptagwl commented on #123
Values which are not present in JSON can't present in XML. However, if you modify your JSON;

[code]

and modify JSON to XML parser with relevant configurations (see README for more detail);

[code]

[2018-11-06 11:01] georgehanson commented on #123
Thanks, seems to do the trick

[2018-11-06 11:01] #123 closed

[2018-11-08 02:19] jzou2000 opened #124 "location of validation error"
Hi
I think it would be better to give line/column of error when the validation fails. Those information are very useful when the xml file is large. xml2js (and most validators) gives those info.

Currently the err object contains only code and msg. I checked the source code of validate and it seems it is not a config issue.

PS. is it possible to validate while parsing? If I validate then parse, t

[2018-11-08 02:33] lfplazas10 commented on #79
Is this task still undone? If so, I would like to tackle it.

[2018-11-08 07:56] amitguptagwl commented on #124
If we combine, parsing speed will definitely reduce. As in most of the cases, we need not validate the trusted resources it is important to keep them separate.

Line number can be calculated but in some cases, it can be inaccurate. Let be mark it as a feature request so we can do something helpful. However, I can't commit any timeline to get it done.

[2018-11-08 07:57] amitguptagwl commented on #79
@lfplazas10 Yes please go on.

[2018-11-08 14:02] instalab opened #125 "Wont parse big xml files."
### Checklist

* [x] Are you running the latest version? (3.12.5)
* [X] Have you included sample input, output, error, and expected output?
* [X] Have you checked if you are using correct configuration? (Different configurations, including the default one wont work)
* [X] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)? (not working either)

### Input
This file: h

[2018-11-08 14:07] instalab opened #126 "Wont parse big xml files."
### Checklist

* [X] Are you running the latest version? (3.12.5)
* [X] Have you checked if you are using correct configuration? (Different configurations, including the default one wont work)
* [X] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)? (Not working either)

### Input
This file: https://raw.githubusercontent.com/gtk-rs/gir-files/master/GLib-2.0.gir

###

[2018-11-08 14:08] #125 closed

[2018-11-08 14:53] amitguptagwl commented on #126
This utility has been tested up to 98 mb file. Can you please tell us the file size you tested with? And how to open/convert the linked file?

[2018-11-09 09:35] instalab commented on #126
The file is roughly 2 Megabytes in size.
The linked file is just an XML, it simply has a different extension (.gir), you can open it and you'll see XML data in it, not need to convert anything. I tried opening it in PHP using simplexml_load_string() function and it worked flawlessly. I just need to do the same in JS now.

[2018-11-09 12:18] amitguptagwl commented on #126
ok let me try that. thanks

[2018-11-10 04:11] amitguptagwl commented on #126
I've found that the issue occurs while parsing a doc tag at line 4372 in your file. Let me see how it can be fixed.

[2018-11-10 05:13] #126 closed

[2018-11-10 05:16] amitguptagwl commented on #126
Done. Please use 3.12.7

[2018-11-19 08:01] atomictag opened #128 "tagValueProcessor used instead of attrValueProcessor"
shouldn't the following line

https://github.com/NaturalIntelligence/fast-xml-parser/blob/a5fe74b77b8d8cd37f3a2abca6ac2f25f01fe246/src/json2xml.js#L137

use `attrValueProcessor` instead of `tagValueProcessor`?

[2018-11-19 08:32] amitguptagwl commented on #128
Hmmm... agree.. will have to cross check with the test.

[2018-11-22 08:42] #128 closed

[2018-11-23 06:19] #110 closed

[2018-11-23 10:41] brainsiq opened #129 "XML fails validation if it contains an attribute called "length""
If you try to validate an XML document that has a "length" attribute anywhere it fails with an error "attribute length is repeated". I've tracked this down to the use of an array [here in the validator](https://github.com/NaturalIntelligence/fast-xml-parser/blob/master/src/validator.js#L253). The code that checks for repeated attributes [checks if length is a property of the array](https://github.

[2018-11-23 11:41] #129 closed

[2018-11-29 04:05] andretf commented on #122
It's not possible because XML can't be handled by a less complex grammar, Regular Expression (Chomsky type 3 vs type 2). Even if it was, parsing big entry with RegExp in JS lead to memory leak.

[2018-11-29 04:16] amitguptagwl commented on #122
@andretf yes it seems not possible. But my experience with my first open source project [grapes](https://github.com/NaturalIntelligence/grapes), I have a little hope in parsing trusted XML resources (excluding validation).

[2018-12-21 16:48] Takkuz opened #132 "SelfClosing tag with boolean attributes will fail on parse"
### Checklist
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input
[code]

### Output
Running on OnLine Tool you can see that, with `Allow Boolean Attributes` flag ON, when t

[2018-12-22 01:44] amitguptagwl commented on #132
Thanks to reporting an issue. We'll be working on that.

[2018-12-22 02:30] #132 closed

[2018-12-22 02:32] amitguptagwl commented on #132
@Takkuz Do you mean that when you pass parsed XML (which is invalid due to the bug you reported) to the j2xparser then it gives the error?

Please confirm so that I can publish the changes.

[2018-12-23 11:02] Takkuz commented on #132
I mean this code will run :

[code]

Will show the first time:
[code]

Then it will parse back to XML:
[code]

Then to next JSON:
[code]

[2018-12-23 23:58] amitguptagwl commented on #132
ok. So this problem must have been solved now. I'll publish the changes.

[2018-12-26 06:12] galaa2011 opened #133 "It always return a number when a tagvalue is a string. like '000', return '0'"
How can I get '000'

[2018-12-26 06:16] amitguptagwl commented on #133
what options are you trying with parser?

[2018-12-26 08:06] galaa2011 commented on #133
Oo, thanks. But I have some confusion with the option value! false to parse string to number and true not!

[2018-12-26 08:06] #133 closed

[2018-12-26 08:09] amitguptagwl commented on #133
That makes sense with the option name. '000' is not a true number so one of the contributors decided to have this option.

[2019-01-10 15:07] barisbikmaz commented on #28
@amitguptagwl This issue is still not fixed. Can't use the library on IE.

You can use parseInt directly or do polyfill sth like
[code]

[2019-01-11 08:18] amitguptagwl commented on #28
done. plz check

[2019-01-11 18:23] physikerwelt opened #134 "Comparison to xmldom"
How does the performance of reading XML files compares to [xmldom](https://www.npmjs.com/package/xmldom)? Was this investigated?

[2019-01-12 01:43] amitguptagwl commented on #134
`xmldom` is a dead project I guess. Because there is no update from last 2 years. So many PRs and issues are still open.

This is the benchmarking result for just parsing; Please note that performance of fxp will be higher when you'll not convert the XML to JS object but an intermediate object (XMLnode). However, converting to JS object give you the benefit of easy manipulation.

[code]

I'll say

[2019-01-12 01:43] #134 closed

[2019-01-15 05:34] mubaidr commented on #124
An `validate` option can be added to the method, with defaults set to `false`. For users library will be fast and if someone wants to validate, he/she can set it to true.

[2019-01-15 06:19] amitguptagwl commented on #124
@mubaidr though it's a good suggestion, @jzou2000 has the concern about overall throughput when validation and parsing are combined.

[2019-01-15 06:38] mubaidr commented on #107
Yes, I think its better for consistency and avoiding confusion.

[2019-01-18 08:19] jmarkham828 commented on #79
I see this issue has not been closed, are you still working on it? If so, I'd love to be able to try to help.

[2019-01-18 09:14] amitguptagwl commented on #79
@jmarkham828 This issue was created for new contributors. But it looks like they're facing some problems. So yes you can give a try. If you need any help, let me know.

[2019-01-31 01:44] jinq102030 opened #138 "Exception converting json back to xml"
I need to use this module for a project to do some processing on XML --> JSON --> XML.

Checked out the code today and apply it on the xml from here: https://raw.githubusercontent.com/GovReady/govready/master/prototypes/ssg-rhel6-oval.xml

Got error
[code]

The code snippet is adopted from your example.
[code]

Is this a bug in this module?

[2019-01-31 16:24] jinq102030 commented on #138
Thanks Amit for taking a quick look.  The URL is indeed valid.  Did you try
[code]
to download the xml?  it's a 748K file.

[2019-01-31 16:33] jinq102030 commented on #138
The xml file is downloaded to the local directory (same as the script and I ran it from there).

I was able to parse the xml into a big JSON file (which proves the file is fine).

Thanks.

[2019-01-31 16:47] amitguptagwl commented on #138
I've just tested your file. everything looks fine to me.

[code]

[2019-01-31 16:47] #138 closed

[2019-01-31 16:55] jinq102030 commented on #138
Thanks Amit, it works fine.  But I have another problem, going to report in a new ticket.

[2019-01-31 16:58] jinq102030 opened #139 "XML produced is not valid"
Try to convert XML to JSON and to XML.

Download the xml from "https://raw.githubusercontent.com/GovReady/govready/master/prototypes/ssg-rhel6-oval.xml"
and try to run the following code,  it produced a new xml file, but when loading it to Firefox,  it complained that this xml is not valid.
[code]

Here is the code snippet.
[code]

Any ideas why?  Thanks in advance!

[2019-01-31 17:46] amitguptagwl commented on #138
So what was the issue?

[2019-01-31 17:47] jinq102030 commented on #138
Since this issue is closed, I created a new issue.  #139.  Thanks!

[2019-01-31 17:48] amitguptagwl commented on #138
I mean what was the problem you were facing problem in this issue?

[2019-01-31 17:51] amitguptagwl commented on #139
what are you loading in Firefox? XML file? Have you tried to load both original and generated XML file? Have you tried to compare both original and generated files?

I'll really appreciate if you do some original finding.

[2019-01-31 17:51] #139 closed

[2019-01-31 17:52] jinq102030 commented on #139
I used Firefox to check the validity of the resulted XML file. Wonder if you could help me to fix it.  Thanks.

[2019-02-01 01:33] amitguptagwl commented on #139
Can you please answer all the questions I asked?

[2019-02-01 16:15] jinq102030 commented on #139
Sorry Amit.   I only answered the first question.

Yes,  Firefox is ok with original XML but generate an error on the resulted XML.

Hope this answers all your questions.

[2019-02-03 03:58] jinq102030 commented on #139
The generated xml is not well-idented and hence hard to read and compare.  If it were valid in syntax, I could use tools such as Firefox to beautify it.

[2019-02-03 05:04] amitguptagwl commented on #139
@jinq102030 Have you checked README to know how to indent the output? I believe not.

I'm sorry to say that I see no issue here. And since there is no effort is being spent by the issue raiser to provide sufficient information to understand the issue, we'll not be able to provide any help on this issue further.

[2019-02-04 00:10] jinq102030 opened #140 "getting confusing error "isAttribute is not defined" when trying to convert JSON to XML."
I need to use this module for a project to do some processing on XML --> JSON --> XML. Would really appreciate if there is an existing example for this.

Created a simple code snippet based on the two examples (xml --> json,  json --> xml),   however I got error on the following xml https://raw.githubusercontent.com/GovReady/govready/master/prototypes/ssg-rhel6-oval.xml

I guess something is wrong

[2019-02-04 00:20] amitguptagwl commented on #140
Sorry to be harsh but with the experience of last 2 issues you raised, we're available to complete your homework. You can raise an issue on stackoverflow.

[2019-02-04 00:20] #140 closed

[2019-02-04 00:30] jinq102030 opened #141 "Where is documentation?"
Tried to get the JSON to xml part working, currently experiencing a problem. Can't find a similar issue in stackoverflow.

Do you have the documentation or you want user to read the code?

[2019-02-12 00:26] philiprbrenan opened #142 "Attributes and tag order destroyed."
`<a id='1'><b id='b1'/><c id='c1'/><b id='b2'/></a>`

gives:

`{"a":{"b":["",""],"c":""}}`

Which destroys the attributes and destroys the order of the tags.   Code below:

[code]

[2019-02-12 04:51] amitguptagwl commented on #142
@philiprbrenan I'll request you check the README.

[2019-02-12 04:51] #142 closed

[2019-02-14 19:27] karimcambridge opened #143 "[Validator failing] parser.validate failing but XML is valid based on every online tool"
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

https://pastebin.com/74F1dCQa < `test.xml`

[code]

### Code
[code]

### Output
`"[parseXMLtoJson]: Invalid XML."`

### expected da

[2019-02-15 02:39] #141 closed

[2019-02-15 02:48] amitguptagwl commented on #143
@karimcambridge It returns true for the same version of FXP.

I believe this is because you haven't the file content is a buffer. Can you please recheck along with the file content.

[2019-02-15 02:48] #143 closed

[2019-02-15 05:18] karimcambridge commented on #143
I was because I didn't set the encoding to XML on `fs.readFile`. lol...

Fixed it.

[2019-02-15 05:36] amitguptagwl commented on #143
Thanks you solved it yourself. However, I'll appreciate asking such questions on Stackoverflow because there you can get the support from many people but here I'm only the active maintainer.

[2019-02-15 05:37] amitguptagwl commented on #79
@jmarkham828 where did you reach?

[2019-02-15 19:43] bhreinb opened #144 "Question: Validating Output Of Parsing Xml Document"
Hi There,

I tried out your module to see whether it would be candidate library to use for automated testing of SOAP functionality. I detail my use case below with a sample file

[code]
I load that xml via the following code....

[code]
However, I'm returned the following JSON payload...

[code]
Just wondering when I send the same xml to this service for example `https://codebeautify.org/xmltojson

[2019-02-16 01:02] amitguptagwl commented on #144
@bhreinb Sorry if I'm rude but this is the 4th questions in last few days where I see no issue. Hence I'm making it compulsory to answer the questions that you see in issue template. I'll not be able to help on any issue further if this checklist is removed from the issue.

* [ ] Have you asked your question on Stackoverflow or similar forum?
* [ ] Are you running the latest version?
* [ ] Have yo

[2019-02-16 01:52] bhreinb commented on #144
Hi @amitguptagwl

Yes your right your answer is exceptionally rude. Considering I also do a bit of GitHub development too, I would not respond to another developer like you just did. I do understand where you coming from "somewhat" but I don't think your response needs to be as condescending as it is.

Btw four questions re your project regardless of it been noise or not should be considered a goo

[2019-02-16 08:58] amitguptagwl commented on #144
Series of rude replies... :p apology to hurt you hard.

The reason I asked you to attach the checklist because the people who
raised last 2-3 issues didn't actually check the online tool. And I spent
approx 30mins for each issue to figure out that there was nothing wrong
with what they were doing. They just raised the issue before even checking
that they're doing everything right.

Jumping to your

[2019-02-16 23:59] bhreinb commented on #144
Hi @amitguptagwl

I do understand your frustrations. I guess their is lessons for both of us from the thread. I possibly should have checked stackoverflow re opening an issue on your repo. I will post a question on that site in any case to get further clarity on this.

Yeah so when I tried your library through an API the payload matches the online tool.

Re handling the namespace i.e. renders as p

[2019-02-17 01:51] amitguptagwl commented on #144
Thanks for the appreciation. Probably you can help to maintain some ;)

Since it'll be a new feature so you can stick here. I prefer people to go to Stackoverflow only for technical issues where this library is expected to return desire output but somehow people fail to get it. Or about how to use this library.

I see 2 features here

1. XML to YAML
2. XML to parser with namespace as property

A t

[2019-02-17 14:12] bhreinb commented on #144
The testing utility would need the namespace.

But it's likely I don't need it rendered as a property of a tag however.

Another possible solution which I think you are referencing above (as per feature 1) is the online tool could be evolved to "parse to YAML" which would be rendered to the output window?

[2019-02-17 14:34] amitguptagwl commented on #144
So we don't need feature 2.
Yes, I'm suggesting "XML to YAML" as a new feature for this library. Though I'm not sure if people really need it, but it can be an experiment.

[2019-02-17 14:34] #144 closed

[2019-02-17 15:38] bhreinb commented on #144
Don't think I need #2  as your library correctly generates the xml message regardless of how that is represented in a js object.

In terms of capturing xml to yaml in the online tool what is the way forward for this feature request. New issue?

[2019-02-18 03:17] amitguptagwl commented on #144
Yeah will create the new issue for fresh discussion on that. But as I'm
running busy, I'll leave it to implement in the future.

General implementation should not take more than 2 days. But following all
the rules may take time

On Sun, 17 Feb 2019 21:08 Bhréin Brannick, <notifications@github.com> wrote:

[2019-02-18 05:55] amitguptagwl opened #145 "New Feature: XML to YAML"
Converting an XML to JS object and then to YAML is a slow approach. As we're already parsing the XML into an intermediate object, we can use this object to write YAML. However, we need to know if there are some projects who really feel the need for this direct transformation.

As YAML format can't be used in programming directly, they only use case I feel is the online converter. But we don't need

[2019-02-18 14:28] bhreinb commented on #145
+1 from me for the feature :)

[2019-02-18 14:28] bhreinb commented on #144
thanks a mill for this 👍

[2019-02-22 14:26] EricMoIr opened #146 "Double values inside tags"
### Checklist

* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

The parse function of the default export conve

[2019-02-22 14:39] amitguptagwl commented on #146
@EricMoIr In Javascript;

[code]

Since you're converting the XML first into JS object, you're losing the decimal point. Better to use `parseNodeValue : false`.

[2019-02-22 14:46] EricMoIr commented on #146
That's what I needed! Since that option didn't show in the "Options" section of the readme, I didn't realize it existed. Just found it in the .d.ts file. Thank you!

[2019-02-22 14:49] #146 closed

[2019-02-23 00:37] amitguptagwl commented on #146
@EricMoIr It is documented in "Options" section as well as in sample snippet on README.

![screenshot from 2019-02-23 06-06-14](https://user-images.githubusercontent.com/7692328/53278765-43af5500-3731-11e9-8e48-c9fc9674619a.png)

[2019-03-02 21:37] amolpagar opened #147 "JSON message with attribute was not working"
Hi Amit,

It seems JSON to XML with attributes in JSON message is not working properly.
Below function is not getting invoked to check if field is an attribute or not.

function isAttribute(name /*,options*/)  (File Name json2xml.js)

I had to remove this.isAttribute(key) and update isAttribute function as it was not taking options as an argument to check how attribute begins in json and whats its

[2019-03-02 23:20] amitguptagwl commented on #147
`isAttribute` is expected t work only if `this.options.ignoreAttributes` is set to `false` or `this.options.attrNodeName` is not set.

There is a line in package.json '"main": "./src/parser.js",'. Hence it is expected to work. And yes, it is working in the other packages. Please tell me the node.js version.

What are you actually trying to do? You're using this library in your some node.js project

[2019-03-05 03:59] amitguptagwl commented on #147
Closing the issue as there is no response. But feel free to reopen or comment.

[2019-03-05 03:59] #147 closed

[2019-03-05 16:17] nfantone opened #148 "Consider hiding postinstall support message"
I love the lib and I 100% get the need for donations and promoting OS stuff. I _do_. But adding a multi line log entry on a `postinstall` script for that purpose seems like a stretch.

- There's no way to silence it. It ignores `--silent` or `--quiet` `npm` flags.
- It floods already hard to trace CI logs with unnecessary text.
- It kind of abuses the original intention of a post install clean up

[2019-03-06 00:55] amitguptagwl commented on #148
I agree with your points. Will do the changes soon.

[2019-03-06 02:13] amitguptagwl commented on #148
I followed the script you suggested and did the changes.

[2019-03-06 02:13] #148 closed

[2019-03-07 03:39] nfantone commented on #148
Thanks so much for this! Truly appreciated.

[2019-03-11 19:33] user1020 opened #149 "Be able to stop parsing at certain node"
Wonder if if there is an option when doing xml to json conversion, upon encountering a special tag, such as `htmlHere`, it should stop parsing what's in the tag, treat the whole thing (with proper escaping) as a string?

For example xml

[code]
should be parsed to

[code]
Thanks in advance.

[2019-03-12 02:18] amitguptagwl commented on #149
Do you have control on XML? If yes then you can use CDATA for the same.

On Tue, 12 Mar 2019 01:03 Jin Qian, <notifications@github.com> wrote:

[2019-03-13 02:08] amitguptagwl commented on #149
@jinq102030 what we first need to understand following before implementation

1. the importance of any feature.
2. can it be achieved without a change in the library
3. what is the impact on the performance.

[2019-03-13 17:53] jinq102030 commented on #149
Thanks for asking, should have added it earlier.

1. This feature is important in an industry project where we need to extract html code snippet included in xml and render it to user in browser.
2. Looked at the source code and can't find an existing option that does it.
3. The impact of this when stopNode is not configured is very minimal.  Parsing the 1.6MB xml file with base-line code took abou

[2019-03-15 15:56] epost opened #151 "Allow attribute name modification by adding attrNameProcessor"
### Feature description

Currently, the library recognises the following parameter:
[code]
I would propose to add the following, more flexible way of generating attribute names:

[code]

This would work analogously to the existing `attrValueProcessor` parameter.

### Example use case

Rewriting properties like `foo-bar` into `fooBar`.

### Would you like to work on this issue?
- [ ] Yes
- [ ] No
-

[2019-03-16 01:52] amitguptagwl commented on #151
Hmmm... it sounds good. Feel free to do the changes, if you have some time. Thanks

[2019-03-23 08:34] amitguptagwl commented on #149
@jinq102030 Thanks for your changes. Changes are live now.

[2019-03-23 08:34] #149 closed

[2019-04-03 06:28] chovy opened #153 "can't parse rdf"
can't parse this rdf. I don't get any items back.

https://sfbay.craigslist.org/search/jjj?query=freelance&is_telecommuting=1&format=rss

[2019-04-03 07:01] chovy commented on #153
my bad. i was not getting results.

[2019-04-03 07:01] #153 closed

[2019-04-10 04:48] Deliaz opened #154 "Pass tag name to "tagValueProcessor" and "attrValueProcessor""
What do you think about passing a tag name to `tagValueProcessor` and `attrValueProcessor`?
That's might be helpful to choose parse logic depends on tags name (my case).

[2019-04-10 18:28] csantos1113 commented on #86
@amitguptagwl - question
I have this XML:
[code]
And I'm just transforming to object, and then transforming back to XML:
[code]
I'm getting
[code]

I was expecting to receive self-closed tags for the `<path />`s.

How can I do it?

Thanks!

[2019-04-11 09:08] grin0c opened #155 "Question: How to add xml version and encoding when converting json to xml"
### Checklist

* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x ] Are you running the latest version?
* [ ] Have you included sample input, output, error, and expected output?
* [ ] Have you checked if you are using correct configuration?
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Output
[code]

[Bookmark](https://github.

[2019-04-14 00:16] amitguptagwl commented on #86
@csantos1113 if you check README, you 'll find following property to use at the time of parsing back;

[2019-04-14 00:18] amitguptagwl commented on #154
Can you please give us an example? Currently, tag name is passed in case of `tagValueProcessor` and attribute name is passed in case of `attrValueProcessor`.

[2019-04-14 00:22] amitguptagwl commented on #155
As I remember, we're just parsing data part currently. And the result is a string. So you can just prepend `<?xml version="1.0" encoding="utf-8"?>` to the parsing result.

Let me know if it solves your problem?

[2019-04-16 09:17] Deliaz commented on #154
In my case, I have a node `description` contains HTML-tags which I'd like to remove during the parsing process. But In the same document, I also have node `properties` with xml nodes which needs to be saved.
So I cannot clean all the node values.

Unfortunately, I haven't found that `tagValueProcessor` includes node name. Here is the test code

[code]

Output:
[code]

[2019-04-16 10:54] amitguptagwl commented on #154
Ah! my bad. Yes, it passes their values. We can modify it to pass the tag name.

[2019-04-18 03:23] amitguptagwl commented on #155
closing due to inactivity. Feel free to reopen if needed.

[2019-04-18 03:23] #155 closed

[2019-04-22 19:01] glenselle opened #157 "Is Lodash really a dependency?"
Hi, I was looking through the extensive list of dependencies for `fast-xml-parser` 😉 and noticed `lodash` was listed. However, when I did a search of the project I didn't see any uses of `lodash` or `underscore` or `_`. Is this an old dependency listing in `package.json`? It's quite possible I missed something somewhere. It would be awesome if there wasn't a dependency on `lodash` 🎉 .

https://git

[2019-04-23 02:37] amitguptagwl commented on #157
You're right. It seems unused dependency. We should remove it.

[2019-04-25 11:06] #157 closed

[2019-04-27 15:50] guatedude2 opened #159 "group children"
Is it possible to group children so that the structure looks more like the example bellow? If not how could I get a feature request?

given the XML:
[code]

Output:
[code]

[2019-04-28 08:09] amitguptagwl commented on #159
Currently, it is not supported. What I can see here is to generate the JSON schema directly from XML. I'll suggest to convert XML to json and the write a schema builder on top of that. Because there can be different ways to generate the schema for different application.

[Here](https://github.com/nimndata/nimnjs-schema-builder) is the sample repo that I build to create the JSON schema from the sam

[2019-04-28 15:19] guatedude2 commented on #159
That's what I ended up doing. Thanks for your help

[2019-05-03 04:03] amitguptagwl commented on #145
Closing the issue as other users have shown no interest in this feature request. Feel free to reopen.

[2019-05-03 04:03] #145 closed

[2019-05-10 08:17] mupakoz opened #161 "Add namespaces when transforming json to xml"
I would like to transform json to xml adding namespaces during the process. Example:

[code]

Expected result:

[code]
So far I did not find any way of doing it without adding the namespace before the transformation. However, it is troublesome for big objects. Is it a functionality that would fit in the library? Probably could be solved with something like a tagNameProcessor in the options

[2019-05-11 02:12] amitguptagwl commented on #161
It's a good suggestion. I believe tagNameProcessor will be helpful. But how will you code inside? I mean there is a possibility that you want different namespace for the same tags inside different parent tag and other situations.

[2019-05-18 11:46] timfish opened #162 "Does not work in IE11 Web Worker due to use of window"
Due to [this code](https://github.com/NaturalIntelligence/fast-xml-parser/blob/65c39beae792e643cd00a6dd866b31178afcf16b/src/xmlstr2xmlnode.js#L13-L19):
[code]
Would it be better to leave polyfills out completely and direct people to use polyfill.io?

[2019-05-20 03:21] amitguptagwl commented on #162
Though it's a good suggestion, our project uses very less browser specific functions as we are the utility not an application. Hence, in my opinion we don't need a complete library at this moment. However, if you feel we can do it better with pollyfill without increasing size of this library then please go ahead.

[2019-05-20 09:58] timfish commented on #162
Since this is only [polyfilling these for IE](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number#Browser_compatibility) and top level `parseFloat` and `parseInt` have been around forever, it can probably be simplified to:
[code]

[2019-05-20 10:12] timfish commented on #162
Alternatively, you can remove the polyfill completely if you just use the top level `parse*` rather than `Number.parse*`:
[code]

[2019-05-21 12:44] amitguptagwl commented on #162
:D `only IE` can't be omitted.

[2019-06-17 08:32] web525 opened #166 "why the Array(1) is translated to a Object ? how can i resolce it ?"
Look at the picture below.

![picture](https://s2.ax1x.com/2019/06/17/VHHlQS.png)

[2019-06-19 15:05] Treverix commented on #138
The problem he faced was, like mine, that he didn't convert the file contents to a string.

This causes the error:
[code]
And this works:
[code]

[2019-06-21 11:37] amitguptagwl commented on #166
FXP parses the XML to JSON based on syntax not on XSD. On first place, it finds repeated elements under the same node. Hence, it converts it into array. On second place, it finds only one occurrence. Hence, object.

[2019-06-21 11:38] #166 closed

[2019-06-27 12:58] heywooooorld opened #167 "Parse attr failed when the attr text has ">""
### Checklist

* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input
![image](https://user-images.githubu

[2019-06-28 04:50] amitguptagwl commented on #167
Thanks for reporting

[2019-07-13 15:00] helixd-2k18 opened #168 "Vulkan API XML "type" label saving"
When parsing XML, why can't the program leave/save the simplified label of the sub-tag (in this case `<type>void</type>` to `"${type}"`), so that in the future, in the JSON branch `"code"` it was possible to restore the text of the code together with the type (namely the branch `"code"`) completely?

In this example, the problems are presented...
1. Used Original XML piece
2. Produced Result
3. Op

[2019-07-13 15:42] keith0305 commented on #167
I have the same problem. I do a lot of processing with Adobe AEM's .xml files and there were a lot of > in the values of the attrs. Took me some time to realize this was the parser's mistake 😄

[2019-07-13 23:04] amitguptagwl commented on #168
Sorry, I'm not able to understand what do you mean.

[2019-07-14 04:31] helixd-2k18 commented on #168
I tried to give more explanations in the topic. I think it should be clear.

[2019-07-14 08:34] olivierchatry commented on #121
Not sure will work : https://github.com/NaturalIntelligence/fast-xml-parser/blob/8a090d7662221c74221ee30e13acb24263cf06e1/src/json2xml.js#L77

Seems like the options will always be overidden

[2019-07-14 08:35] olivierchatry commented on #121
Nerver mind, I got confused by the naming :)

[2019-07-14 10:46] amitguptagwl commented on #167
The problem has been solved. I'll be publishing the changes soon.

[2019-07-14 10:52] amitguptagwl commented on #168
hmmm... how will the parser know that your custom logic should be applied? and to particular field?

[2019-07-14 21:33] fabiospampinato opened #169 "Remove configstore dependency"
Currently configstore is a relatively heavy dependency that's being installed by this library for the only purpose of logging a support message in a postinstall script.

IMHO this dependency is too heavy to be included as a dependency for something that really doesn't have anything to do with how the library work.

Can configstore be removed from the dependencies list?

[2019-07-16 08:13] KSDaemon opened #170 "JS Date Object to XML results in empty tag"
Hi!

Parsing Date object to XML results in empty tag.

### Checklist
* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-par

[2019-07-19 11:00] bdbosman commented on #170
I also work with dates, but it converts to XML fine if it has been JSON.strinify()'d first.

[2019-07-20 15:53] lake2 opened #171 "Cannot assign to read only property 'exports' of object '#<Object>'"
### Checklist

* [ x] Have you asked your question on Stackoverflow or similar forum?
* [ x] Are you running the latest version?
* [ x] Have you included sample input, output, error, and expected output?
* [ x] Have you checked if you are using correct configuration?
* [ x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input

console logs error when transp

[2019-07-22 04:03] amitguptagwl commented on #169
yes. if you can, please raise the PR. Otherwise will do that on next weekend.

[2019-07-22 10:35] fabiospampinato commented on #169
@amitguptagwl I think we can just always show the support message anyway right?

[2019-07-22 19:05] gvillo opened #173 "Index position of nodes"
Hi guys, I was using this great library, but I found something to add to it which is the index of every childNode (and childCount in parent).

I have this particular American football XML (part of it):
[code]

So, for this sport the actual order of plays and drivestart nodes is key. While I am parsing this XML and converting into a JSON, I loose the order, so that's why I added 2 options `appendIn

[2019-07-23 08:06] iamir4g opened #174 "react native access value"
hi i'm new in react and react native pls help me i post request with axios and get xml respons
i use this library to pars XML to JSON
this is may code :
[code]
and this is my respose after convert :
`aaaa : {"soap:Envelope":{"soap:Body":{"AuthenticateUserResponse":{"AuthenticateUserResult":false,"Token":""}}}}`
now i want to access 'AuthenticateUserResult' and if is true have token access 'Token'

[2019-07-24 10:08] amitguptagwl commented on #174
Don't be confused with how should it work in react. Just think how should it work in vanilla js.

[code]

[2019-07-24 10:13] amitguptagwl commented on #173
our main concern is to maintain index of array items or object as well?

[2019-07-24 10:15] amitguptagwl commented on #169
Though I don't see any issue in that, I'll have to check some history. There was some issue raised not to show it to keep their installation log clean. I think 1-2 liner message should not be the issue.

[2019-07-24 10:19] amitguptagwl commented on #171
Its not much clear from the logs given where and what the issue is. Can you please try the already generated lib for browser and let me know if it is not es5 compatible.

[2019-07-24 11:11] Kraigo opened #175 "Inline tag missed order and position"
### Checklist

* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input

Issue is inline tag in text will mi

[2019-07-24 12:13] #174 closed

[2019-07-24 12:59] gvillo commented on #173
Hi!, yeah I know the main purpose of this library is not to keep index of arrays/objects of source xml, but this would be very useful for complex XML like my example (also to re build to JSON from complex a XML, we could add support to JSON to XML parser later).

Of course, the idea is to enable this feature using a boolean option (like I did on my PR, if you don't like the prop names that I set,

[2019-07-27 07:56] amitguptagwl commented on #175
This is not a bug but expected behavior. However, if you need to maintain the order as per your example, we can provide some property to do that.

[2019-07-27 08:04] amitguptagwl commented on #173
The reason I asked is that the order can be maintained in an array. So if we don't want to aim objects, we probably don't need index property.

[2019-07-27 14:49] amitguptagwl commented on #170
@KSDaemon json 2 xml parser comes with a property `tagValueProcessor` where you can set a function to parse your date type of value.

Please free to reopen the card if needed.

[2019-07-27 14:49] #170 closed

[2019-07-27 14:51] amitguptagwl commented on #168
@helixd-2k18 any update?

[2019-07-27 14:53] gvillo commented on #173
It's not possible to maintain the order in a array for an football xml, let me try to explain it with a better example, this is a extended qtr of an XML (I removed all attributes to avoid confusions)

[code]

So, inside of a `qtr` node there are 4 diff tags (`play`, `drivestart`, `drivesum` and `score), when you parse this xml, this will create a qtr obj, with 4 prop arrays inside of it. it's impo

[2019-07-27 15:05] amitguptagwl commented on #169
@fabiospampinato done

[2019-07-27 15:05] #169 closed

[2019-07-27 15:06] fabiospampinato commented on #169
Thanks a lot!

[2019-07-27 16:54] amitguptagwl commented on #173
hmm.. I understand your concern now. Let me go through your implementation. Tell me, when did you practically need it?

[2019-07-27 17:11] gvillo commented on #173
Great!, mmm I need this particularly on this qtr array, but I couldn't find a way to restrict appending `childCount` and `index` to others nodes. Anyway since you have to explicit enable this feature doesn't matter to me, it's ok to have childCount and index in all nodes. The only way to append those props (to keep the original -xml- index order) is when the library is going thru (sequentially) ev

[2019-07-27 19:02] KSDaemon commented on #170
@amitguptagwl unfortunately, it receives value as `string`, not as the original object.
See: https://github.com/NaturalIntelligence/fast-xml-parser/blob/master/src/json2xml.js#L113
If it was as you think — i'll be ok with that.

[2019-07-27 23:33] cisaacson opened #176 "Conversion from JSON to XML changes order"
I have an xml document with a structure like this:
[code]

Because `<b>` is a repeating tag the parse puts it in an array (all in the correct order). But then the nested `<b>` tags are also in the same array so when I convert back the XML it comes out like this:

[code]
Thus the order in the document hierarchy changes. I am using the latest published version (3.12.17).

Is there any way to preserv

[2019-07-28 09:59] amitguptagwl commented on #176
This is the response I received when I parse your given XML into JSON
[code]

I don't any error in this. Can you please highlight?

[2019-07-28 11:16] amitguptagwl commented on #170
your concern is valid. I've fixed the issue. I'll be publishing them soon.

[2019-07-28 12:49] KSDaemon commented on #170
Great! Thnx!

[2019-07-28 17:25] mlapeyre3 opened #177 "Attributes are not correctly parsed back to json"
### Checklist
* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [X] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Description
Hello, I do not understand why

[2019-07-29 00:11] cisaacson commented on #176
For some reason when I do it all of the 'b' nodes are together under the first array, not sure what I am doing wrong. When I serialize back to XML the order is changed in the document. I will try some more tests to confirm.

[2019-07-29 04:06] amitguptagwl commented on #176
You can parse XML to js object directly from here: https://naturalintelligence.github.io/fast-xml-parser/

[2019-07-29 04:09] amitguptagwl commented on #177
I'll check it on weekend.

[2019-07-31 01:53] jagregory opened #178 "Regression in tagValueProcessor introduced in 3.12.19"
### Checklist
* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input

### Code
[code]

### Output

3.12.18

[2019-07-31 01:58] jagregory commented on #178
I just noticed the comment in the readme `(broken: tagValueProcessor will receive the original value instead of string always)`. If this is a known issue, the release shouldn't have been a patch version increase, as it includes breaking changes which any consumers with a `^` version (npm's default) will receive.

[2019-07-31 22:14] domborys commented on #173
Hi,
I have encountered the same issue while parsing some GML files. This is the problematic part:

[code]

This code represents a curve in a shape of a running track. The gml:LineStringSegment elements represent parts of the curve which are line segments. The gml:ArcString elements represent parts which are arcs. The coordinates of the endpoints are inside the gml:pos elements.

The order of the g

[2019-08-01 01:50] amitguptagwl commented on #178
Apologies for the breaking change and wrong place update in version number. I believe nothing can be done at this moment but I'll keep that in mind for any future release.

On the other side, I'm thinking to handle it gracefully so that date and string both cases can be handled without explicit check in `tagValueProcessor` which looks ugly. However, I have no idea what would be the better approach

[2019-08-05 06:44] mlapeyre3 commented on #177
Hello @amitguptagwl,
Any news on this issue? Have you been able to reproduce the error?
Thanks!

[2019-08-06 03:52] amitguptagwl commented on #177
nope.. sorry I couldn't give the time to this yet. Will update you.

[2019-08-07 16:32] maleetz opened #179 "Regression in xmlstr2xmlnode.js version 3.12.19"
Likely a result of https://github.com/NaturalIntelligence/fast-xml-parser/commit/b46db1bd5f5d404374cecaf721c66364e2483a98, fast-xml-parser can hang depending on the xml input.

### Checklist

* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked

[2019-08-08 04:55] amitguptagwl commented on #179
Thanks for reporting. I'll check the issue on this weekend.

[2019-08-10 16:14] amitguptagwl commented on #167
Though the issue was resolved, we observed that this fix impacted the performance badly. We are working on another solution if we find. Otherwise, We'll have to leave this bug open.

[2019-08-10 16:16] amitguptagwl commented on #179
Yes. There was an approx 8-10% performance degradation after the mentioned commit. and it impacted badly in case of long attributes. I'm reverting the mentioned commit until I find some better solution for that.

[2019-08-10 16:41] amitguptagwl commented on #178
working on the approach of avoiding to check/convert the value passed to `tagValueProcessor`. I was thinking if the default type should be string only. So the date would be passed in string format by default. However, if `parseNodeValue : true` is set then the value will be in its original type.

Let me know how would it be useful for your package.

[2019-08-10 16:57] amitguptagwl commented on #177
I found that you're passing the `jsonOptions` at the time of parsing the js object. You should pass it at the time of building the parser instance.

[code]

[2019-08-10 16:57] #177 closed

[2019-08-10 16:58] amitguptagwl commented on #176
closing due to no activity. feel free to open if there is any issue

[2019-08-10 16:58] #176 closed

[2019-08-11 09:47] mlapeyre3 commented on #177
Thanks I did not see the difference with the xml parser!

[2019-08-13 01:13] amitguptagwl commented on #177
XML parser, currently, is just a function. You don't build its object. Hence, you need to pass the options, every time you call it. However, in the future, we're planning to convert it into a class as js2xml parser which can boost its performance.

[2019-08-14 13:32] maleetz commented on #179
Sounds great. Thank you!

[2019-08-14 14:34] hazaart opened #180 "Unable to convert simple XML"
Very simple XML returns empty string after conversion to json.
Also missing basic support to convert given node names always to array.

<?xml version="1.0" encoding="UTF-8"?><response>
	<data>
		<row>
			<col1>data</col1>
			<col2>more data</col2>
			<col3>even more data</col3>
		</row>
	</data>
	<message>I did it!</message>
	<type>ERROR</type>
</response>

[2019-08-14 14:37] #180 closed

[2019-08-14 15:02] hazaart opened #181 "Missing support for array conversion"
In case a node exists multiple time in the same parent, it will automatically be converted to a JS array.
If the node occurs only once however in the dataset (eventhough it could occur multiple times in theory), the conversion will create an object cause it has no way of knowing it should convert it to an array.
Other libraries have support for this by adding an array in the parsing options contai

[2019-08-16 01:00] #167 closed

[2019-08-16 01:42] amitguptagwl commented on #179
done

[2019-08-16 01:42] #179 closed

[2019-08-17 04:05] amitguptagwl commented on #181
:smile: Have you checked for the already raised issues and the discussion on the same topic?

Please give us an example so we can understand if your rasied concern is different.

[2019-08-19 06:13] hazaart commented on #181
Hi,

It is the same as issue https://github.com/NaturalIntelligence/fast-xml-parser/issues/166
But it should be supported in the library.
If you allow to pass an optional array which specifies which nodenames should always convert to Array.
See example implementation as mentioned above in x2js.

Being a conceptual issue when making a conversion from XML to JSON, I think it would be nice if a solut

[2019-08-19 08:21] amitguptagwl commented on #181
There is no standard for XML to JSON/JS Object conversion. Hence, we need to finalize the response which suits to our implementation and users expectation. People feel its need but no one yet given us the clear requirement.

We don't want hurry. Because many changes cant be reverted once the users at world level start using them.

[2019-08-19 08:23] amitguptagwl commented on #181
I'm closing this issue as it is duplicate for the other issue. If you'll feel we should keep it open, please reopen

[2019-08-19 08:23] #181 closed

[2019-08-19 08:29] hazaart commented on #181
"People feel its need but no one yet given us the clear requirement."
How do you mean, I just did :-)

In the options we can pass for parsing, add a new optional array. This way there is no conflict with the existing way of working.

arrayAccessFormPaths : [] - Array access paths - use this option to configure paths to XML elements always in "array form". You can configure beforehand paths to all

[2019-08-21 01:50] amitguptagwl commented on #181
This is not a clear requirement. I doubt if you have seen the previous discussions.

[2019-08-21 05:08] DazChong commented on #181
Yes, this is a missing feature.
Imaging scenario of user object with multiple emails as array, some user have multiple emails and some only have 1.

[2019-08-23 00:32] amitguptagwl commented on #181
@hazaart @DazChong FYR https://github.com/NaturalIntelligence/fast-xml-parser/pull/135

[2019-08-23 08:36] kcjpop commented on #155
Would be nice if we can pass XML version and encoding as options, just like https://github.com/oozcitak/xmlbuilder-js/wiki#create. I feel prepending string a bit hacky.

[2019-08-24 06:32] shasank opened #182 "Releases tab is not upto date on Github"
Under releases, the latest release is 3.12.16. And change log talks about 3.12.20. Please update it.

Thanks!

[2019-08-25 02:06] amitguptagwl commented on #182
done. However, I'm not closing it to put it in DOD

[2019-08-26 16:10] shasank commented on #182
Thanks for the swift response!

On Sun, Aug 25, 2019 at 7:36 AM Amit K Gupta <notifications@github.com>
wrote:

--
Regards,
Shasank

[2019-08-27 11:36] fabiospampinato opened #183 "Remove nimnjs dependency"
It looks like `nimnjs` is only imported in tests, [here](https://github.com/NaturalIntelligence/fast-xml-parser/blob/668f75b11fefc7cc9f7f7f79bd3bf200231b7e7b/spec/nimndata_spec.js#L2), but it is not a _dev_ dependency, so can it be defined as a dev dependency rather than regular dependency?

[2019-08-28 03:54] amitguptagwl commented on #183
sure, let me check.

[2019-09-02 15:32] Domvel commented on #161
In my case, I just want to remove the namespace when xml 2 json and re-add it for the xml export.
I have no idea how complex an XML namespace can be. Or how xml exactly works for this feature. I could write an own processor after parsing to json or before parsing to xml to remove and add the key (tag) prefixes.

I have the following input. (And later, my desired xml export)
[code]

I use `ignoreNa

[2019-09-02 15:50] amitguptagwl commented on #161
@Domvel the main problem is we can have multiple namespaces and each tag, whether repeated or not, can be associated with a different namespace. Hence, it is not achievable without providing all the mappings ie XSD itself.

The main focus of this library is to avoid such complex parsing for the sake of speed.

Closing this thread. Feel free to reopen.

[2019-09-02 15:50] #161 closed

[2019-09-02 15:50] Domvel opened #184 "feat(xml-export) The xml export should add the xml-declaration. (optional)"
Currently the xml-export does not add the first line xml-declaration (header) like:

[code]

or

[code]

It's not hard for me to add this string before writing the xml file.
But I would prefer an official way.

Suggestion for the option props (default values):

[code]

But I'm not the xml pro. I'm sure you have the better idea.

`fast-xml-parser` version: `3.12.20`

[2019-09-02 15:51] #79 closed

[2019-09-02 15:52] amitguptagwl commented on #171
closing as no update. feel free to reopen if you think the problem is not solved.

[2019-09-02 15:52] #171 closed

[2019-09-02 15:53] #159 closed

[2019-09-02 15:53] #168 closed

[2019-09-02 16:36] Domvel opened #185 "feat(xml-parser) Option for, do not unwrap single values. Keep arrays."
fast-xml-parser parses the xml in an intelligent way. This is awesome. See these examples:

---

XML with **multiple** values:
[code]
in json:
[code]

---

XML with **single** value:
[code]

in json:
[code]

---

My feature-request is to add an option to force keeping the array also for single values to normalize the whole xml. An option with the default value `false` to keep the current behavior

[2019-09-02 17:06] Domvel commented on #185
I close it, because it's not important at this moment. I like the current behavior.
But feel free to re-open this issue if you want this feature.

[2019-09-02 17:06] #185 closed

[2019-09-04 04:51] amitguptagwl commented on #185
I believe its a good idea. Need to cross validate it against previously raised requirements

#181 #135

[2019-09-05 19:41] MiguelFranken opened #186 "stopNodes not recognized"
I'm reporting a bug.
* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

See also my [Repl.it example showing the

[2019-09-05 20:22] MiguelFranken commented on #186
Is this a duplicate of #167? When I delete `<` from `equiv-text="&lt;b>"` it works. Is there any workaround? When not which version can I use?

[2019-09-06 07:15] ShinyChang opened #187 "Should parse long number string as string instead of number"
### Checklist

* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input

[code]
### Code
[code]

### Output

[2019-09-11 10:05] Kaarel commented on #181
Use cases:
Invoices, stock inventory, accounting, shopping carts, travel reservations, players in a game etc etc. They all have 0 to n items, in practice 1 to n. Basically almost every use case :) 1 is just a special case of n element array.

We have a lot of use cases like below. We do not control the XML that is sent to us, we just need to work with it.

[code]

which `fast-xml-parser` parses in

[2019-09-14 02:55] amitguptagwl commented on #186
@MiguelFranken currently, there is no fix provided for ">" as the regex solution makes parser slow and we're not willing to re-write the parser. We would be working on the other solutions but it'll take time. So no commitment on the fix or timing.

[2019-09-14 02:57] amitguptagwl commented on #187
Thanks for the suggestion. Will implement it in a future version.

[2019-09-14 03:01] amitguptagwl commented on #184
There can be various attributes of XML-declaration. and their value may depend, like encoding. You may want to save the XML with different char encoding. Hence it is suggested if you prepend it to the parser output.

[2019-09-17 19:24] cliffhall opened #188 "Considers closing tag to be valid without closing bracket"
In its default configuration (and on your online tool), fast-xml-parser considers `<test></test` to be valid XML.

### Checklist

* [x] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try onl

[2019-09-17 19:26] cliffhall commented on #188
Output from my console as I run text through `parser.validate()`
![Screen Shot 2019-09-17 at 3 18 01 PM](https://user-images.githubusercontent.com/871933/65072649-50aac480-d95f-11e9-87f7-743533a37683.png)

Your online validator showing the same result:
![Screen Shot 2019-09-17 at 3 09 08 PM](https://user-images.githubusercontent.com/871933/65072648-50aac480-d95f-11e9-902b-b533581411df.png)

[2019-09-17 20:07] cliffhall commented on #188
For anyone running into this issue, here is the workaround I came up with for now:

`const valid = !!xml && xml.trim().endsWith('>') && (parser.validate(xml) === true);`

[2019-09-25 09:46] Domvel commented on #184
The parser could just read the header if present and stores it in the json (maybe optional). For the first step this is only a simple string parsing and key-value assignment, like it already works today. Nothing special. No interpretation of the encoding etc. (note this in the docs.)

The header declaration in the json can be edited by the user manually. And the xml export just build the header by

[2019-09-26 04:11] amitguptagwl commented on #188
@cliffhall it is already mentioned that the validator and XML parser both are separator to achieve higher performance. If the XML is not provided from trusted source then it must be validate first.

[2019-09-26 04:11] #188 closed

[2019-09-26 04:13] amitguptagwl commented on #184
A user need to add header information as js object or as string. So I don't see much significance to add it to the parser.

[2019-09-26 13:40] cliffhall commented on #188
What are you saying? It reports invalid xml as being valid. Performance is no excuse for that! You see that a simple open and close tag with missing closing angle bracket causes the parser to report valid, as well as the online tool. That fails it’s basic purpose. If there is some other approach I am supposed to take to validate the xml please explain. But e parser and validated do not appear to b

[2019-09-27 01:27] amitguptagwl commented on #188
@cliffhall I'm not saying that you should not use the validator but you should use it when you need. If in your case it is always required, create a wrapper. You can publish that as a separate library, or create a PR and add it to https://github.com/NaturalIntelligence/fast-xml-parser/blob/master/src/parser.js

[2019-09-27 02:29] cliffhall commented on #188
Look, I do need it, it is always required, and it is broken. I’ve posted a workaround for any other poor souls who find themselves washed up in this island, but ultimately you just need to fix the bug. An xml parser that calls invalid xml valid is useless. Closing this bug and ignoring the problem won’t make it go away it will only serve to show others that you do not care about the quality of you

[2019-10-02 02:26] amitguptagwl commented on #188
there were some misunderstandings in our conversation. Apologies not to understand it in the first place. However, I have fixed the bug you reported. Thanks for reporting

[2019-10-02 02:35] amitguptagwl commented on #181
Thanks for highlighting this @Kaarel . So if let's suppose, we have some option which basically renders a nested tag always an array, it'll look like as follow;

[code]

will it solve the purpose?

[2019-10-02 04:13] #182 closed

[2019-10-02 04:13] #183 closed

[2019-10-02 04:34] amitguptagwl commented on #187
@ShinyChang please use option `parseTrueNumberOnly : true`

[2019-10-02 04:36] #162 closed

[2019-10-02 06:34] amitguptagwl commented on #154
done

[2019-10-02 06:34] #154 closed

[2019-10-02 06:36] amitguptagwl commented on #151
Closing this as not finding the real use of this. Feel free to reopen it with some real-time example or use case.

[2019-10-02 06:36] #151 closed

[2019-10-02 06:39] amitguptagwl commented on #175
One of the suggested solution can be;
[code]
let me know your views

[2019-10-02 06:44] amitguptagwl commented on #184
closing the issue. please feel free to reopen it. We can do more brainstorming on this.

[2019-10-02 06:44] #184 closed

[2019-10-02 07:04] amitguptagwl opened #189 "Add Unit tests"
The current code coverage is very low, we need to add more unit tests.

[2019-10-02 10:01] amitguptagwl opened #190 "ArrayMode Support"
Array mode is the most wanted feature in XML to JSON parser. Check the example to understand the need;
[code]
Parsed response
[code]

When the occurence of a tag is 1 it is parsed as an objectg otherwise array. In this case, user need an extra check to traverse through the parser response to confirm if he value of a tag is array type or object type.

I have solved this problem by introducing `arra

[2019-10-02 10:11] amitguptagwl commented on #181
I have started the discussion here;

https://github.com/NaturalIntelligence/fast-xml-parser/issues/190

[2019-10-02 11:15] fabiospampinato commented on #183
Thanks!

[2019-10-02 12:12] Kaarel commented on #181
Yes, specifically the strict mode in the examples of #190

[2019-10-02 12:13] Kaarel commented on #190
+1 for the `arrayMode: 'strict'` example.

[2019-10-03 00:22] amitguptagwl commented on #190
Changes are available on Github for experiment but not published yet on npm.

[2019-10-04 19:40] sverweij opened #191 "stopNodes not in type definitions yet"
### Checklist

* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)? (N/A I think?)

### Input

#### Code
[code]

##

[2019-10-05 02:22] #191 closed

[2019-10-06 16:33] bulion121 opened #193 "Streams support"
Does this package supports streams? My case is that I download large xml file to my server and then I need to translate it to JSON it would be awesome if I could just pipe response to parser and have my json file. If package supports streams can you give me some examples? It's hard for me to find any

[2019-10-07 02:53] amitguptagwl commented on #193
Unfortunately no. As this package use regex which are applied on prebuilt string, it doesn't support streams. However, it is in plan. But can't promise any date right now.

[2019-10-07 12:04] bulion121 commented on #193
Ok thanks for your answer

[2019-10-07 12:04] #193 closed

[2019-10-09 13:10] jyte commented on #190
It worked well for my 800MB file, thx :)

[2019-10-18 08:39] tigermarques commented on #167
Hi,

Regarding this issue, I understand that it is not yet fixed. However, do you recommend any kind of workaround for the time being? Do you recommend any way of replacing all ">" in attributes for "&gt;"?

Thank you!

[2019-10-19 02:12] amitguptagwl commented on #167
Yes, you can use regex to replace all ">" with "&lt;". Eg `=\s*(["']).*?(>).*\1`.

[2019-10-21 10:02] gknapp commented on #181
I'm using openlayers, it expects single values be a collection (array) and not unwrapped (object). It checks the parent node length but fails when the single value is unwrapped. Having a configuration option for this would mean I could use fast-xml-parser.

[2019-10-21 11:23] amitguptagwl commented on #181
@gknapp Have u looked at #190 ? does it solve ur purpose? if not please give an example of your expectation.

[2019-10-24 10:07] gknapp commented on #181
@amitguptagwl Yes that's exactly what's needed. I knew it was coming but didn't think it was available on npm yet?

[2019-10-24 11:49] amitguptagwl commented on #181
It is available on Github. I'll publish that on Github tomorrow or on weekend.

[2019-10-24 13:35] zWaR opened #195 "Parsing of large xmls (>100MB)"
I noticed the documentation says library was tested with files up to 100MB. We're having files larger  than this ~160MB (+/-10MB). And we tried this approach:

[code]

The idea behind our approach is based on `large_spec.js`.

Unfortunately this approach breaks with memory allocation errors:

[code]

We noticed that if we remove options, method does not break, however it also does not parse the at

[2019-10-24 14:04] hazaart commented on #181
I don't think it is wishfull that every single node is transformed into an array. We should be able to control which node names have to always convert to array.

You may have levels in the XML that will only occur once. Take the <report/> tag for example in the above XML.
Let's say you wish to repeat over the stores you need to access it via `report[0].stores`. Having to add the index to the `repo

[2019-10-24 14:24] amitguptagwl commented on #195
1. Someone reported that he tested the file up to 800 mb. And it was working fine. However, I don't what are the options he tried with.
2. Have you tried with just `ignoreAttributes: false`?
3. If you're processing such big files, the better option is to use the parser based on C/C++ libraries. As they would be faster.

Definitely, many changes have happened in the library after I checked it again

[2019-10-24 14:27] amitguptagwl commented on #181
I'm not sure how many users wish to use `arrayMode` in this way, but this can be added in a future version if more users feel its need.

[2019-10-28 10:25] lazarljubenovic commented on #175
I don't think the example you've given would work. You still don't know which items come in which order. Something like the first idea would work.

I don't think this is expected behavior for most users. Maybe some _don't mind_ that the order is not preserved and that all `#text` nodes are merged into one, but I don't see how it's "expected" that all these XML files give the exactly same output in

[2019-10-28 21:10] xiaoyu-tamu opened #196 "Parse true numbers sometimes ignore float number"
### Checklist

* [ x] Have you asked your question on Stackoverflow or similar forum?
* [ x] Are you running the latest version?
* [ x] Have you included sample input, output, error, and expected output?
* [ x] Have you checked if you are using correct configuration?
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input

https://github.com/NaturalIntel

[2019-10-29 01:57] amitguptagwl commented on #190
arrayMode has been published now

[2019-10-29 01:57] #190 closed

[2019-10-29 02:18] amitguptagwl commented on #175
Let me check it in arrayMode.

[2019-11-01 02:09] amitguptagwl opened #197 "Feature: Preserve position of elements"
For some processing purpose, it is requied to preserve the position of tags and text value of a tag. Eg
[code]

currently parsed to following when arrayMode is true.
[code]
The expected output is one of the following
[code]

[code]

[2019-11-01 02:15] amitguptagwl commented on #175
I have created a separate issue to discuss this requirement #197

[2019-11-01 02:17] amitguptagwl commented on #124
@mubaidr , @jzou2000 we have changed the method signature to optionally choose if validation need to be done.

[2019-11-02 21:29] NorbertHuethmayr commented on #124
Any news on the initial request to include the line number when validation runs into an error?

[2019-11-03 10:24] amitguptagwl commented on #124
No changes done for line number in response yet. However, if someone is interested to raise the PR please visit line number 137 in validator.js

[2019-11-06 03:19] dorev opened #199 "Unexpected empty array elements added"
Working on a project using the MusicXML format, I am parsing the `xmlFile` provided below and unexpected empty elements appeared in the resulting object.
[Here's a link to the repository of this project](https://github.com/dorev/dryad/blob/master/src/_main.ts)

![image](https://user-images.githubusercontent.com/49461612/68265496-36659c80-001a-11ea-83fe-a0238b76f138.png)

I guess there might be som

[2019-11-07 08:50] hazaart opened #200 "Incorrect value parsing"
In my XML I have a value "34100000000000000001". After parsing the value is 34100000000000000000 of datatype number.

    const json = convertToJson(getTraversalObj(data), { parseNodeValue: false, });

Notice that I'm already passing parseNodeValue 'false' but the library is ignoring it. Regardless of the datatype now the value is being changed by the library.

I am officially switching to x2js li

[2019-11-08 01:23] amitguptagwl commented on #200
@hazaart thanks for reporting this issue. I'll check this on this weekend and fix it. We'll be glad if you can tell us what other issues you're facing. It'll give us the chance for improvement.

Please check the performance and output of other library before switching. Many libraries give wrong parsing output in case of big XML input. Choice is yours.

[2019-11-08 01:28] amitguptagwl commented on #199
When I parse your XML using the online demo tool I get following result;

[code]

It doesn't have any empty value. So can you please re-confirm?

[2019-11-08 19:51] dorev commented on #199
I did retry a few times and it boils down to this : whenever I have two identical elements in the xml, it adds 3 more empty ones
![image](https://user-images.githubusercontent.com/49461612/68506116-dc8dee00-0236-11ea-95f1-a6154516c342.png)
![image](https://user-images.githubusercontent.com/49461612/68506125-e0ba0b80-0236-11ea-8ba3-884e585874f4.png)

Maybe something gets mixed up when I run it thro

[2019-11-09 00:24] amitguptagwl commented on #199
[code]

[2019-11-09 01:54] amitguptagwl commented on #200
@hazaart as the number you have given is out of safe range, you're supposed to use `parseTrueNumberOnly: true`. It is not a bug but right options are not set.

[2019-11-09 01:54] #200 closed

[2019-11-09 06:16] shasank opened #206 "Option to ignore tag pairing"
I would like to use fast-xml-parser for html validation. But it enforces stringent XHTML rules like tags pairing for `<input> and <br>` tags.
Is there a way I can skip the pairing part and use for HTML validation?

Thanks!

[2019-11-09 08:35] amitguptagwl commented on #196
Fixed. Not published to npm yet.

[2019-11-09 08:44] amitguptagwl commented on #206
If your HTML has strictly self-closing tags and no void/empty tags then you can use this library. The reason not to support void/empty tags is that this library is generic. However, we can think to provide the list of void/empty tags for HTML validation

[code]

[2019-11-12 01:25] NorbertHuethmayr opened #207 "Multiple root elements validate successfully"
### Checklist

* [x] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [ ] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input
XML structures must always have a si

[2019-11-13 00:25] rsclarke-vgw opened #208 "TypeError: Cannot read property 'addChild' of undefined when unvalidated"
### Summary

Given the basic example in the code section below, a `TypeError` is thrown when validation is not performed.

To be robust against malformed input there needs to be a defined contract that either validation will be performed (the `.validate` function internally or default to `true` in the third argument to `parse`).  Or a given API specific exception will be thrown.  Additionally it m

[2019-11-13 20:28] mbrucher commented on #199
I noticed the same when parsing data from http://overpass-api.de/api/interpreter?data=%5Bbbox%5D;node%5B%22amenity%22~%22pub%7Crestaurant%7Cbar%22%5D;out;&bbox=7.0,50.6,7.3,50.8
The xml nasically, anything below nodes gives empty strings with the default options and the options given in the main page.

[2019-11-14 00:41] amitguptagwl commented on #199
@dorev any update?

[2019-11-14 00:46] amitguptagwl commented on #208
I believe the example given on README indicate the need of validation;
[code]
If it is confusing, we can eloborate more it in documentation.

[2019-11-14 01:40] dorev commented on #199
No sorry, I haven't found anything yet.
Just working around it for the moment.

[2019-11-14 02:18] rsclarke-vgw commented on #208
I don't think it's cleat at all, the comment even states it is optional.  There are a number of examples in the README which don't wrap the call to `parse` with validation.

May I ask if there is need for validation why isn't it just the default function as part of `parse`?

[2019-11-15 00:34] amitguptagwl commented on #208
Many people don't need validation when they're working on XML provided from trusted resources. There're very fewer users of this library who actually use the validator. Hence, it is optional. Since it impacts performance, it is external.

Being a developer the above code is pretty clear to me. However, I'll add a line in the documentation to clear any confusion.

[2019-11-15 00:38] amitguptagwl commented on #199
Please ensure that you're using the latest version of the library. I'm closing this issue. But you can reopen it if you find something wrong.

[2019-11-15 00:38] #199 closed

[2019-11-20 02:38] NorbertHuethmayr commented on #207
Hi Amit,

if you give me a hint on where to start, I could get going.

[2019-11-22 13:01] MaartenX commented on #197
As you can see, I added a pull request that adds this behavior. One thing I did not yet tackle was handling of CDATA blocks in text.

[2019-11-23 03:00] #196 closed

[2019-11-23 05:28] amitguptagwl commented on #207
Probably, you can maintain a stack. push when a tag is found, pop when matching closing tag is found. If the size of the stack reaches to 0 and you still have more tags, it means there are more than 1 root element.

[2019-11-23 11:36] amitguptagwl commented on #208
@rsclarke-vgw I have added the detail on README. So closing this issue. If you fee that the added detail is not sufficient or not clear, fee free to raise a PR to improve it reopen this issue to notify.

[2019-11-23 11:36] #208 closed

[2019-11-23 11:40] #124 closed

[2019-11-23 21:17] chovy opened #211 "attributes not showing up"
`<media:content url="https://thedailyshitter.com/content/images/2019/11/paypal.jpg" medium="image"/>`

I just get `media:content: ""`

This is from an RSS feed.

[2019-11-23 21:21] chovy commented on #211
Nevermind. Needed `  ignoreAttributes : false,`

[2019-11-23 21:21] #211 closed

[2019-11-26 12:59] cckowin opened #212 "how to change the attribute tag name"
is there any way to change the attribute tag name using this module like xml2js
eg.
`
<test attribute-name="test"></test>
`
to produce a result like this
`
test: {
  attributeName: "test",
}
`

[2019-11-26 23:56] amitguptagwl commented on #212
@cckowin we can currently do the alteration in values only. We can think about to change it for both value and names. Or probably a separate name processor. Thanks

[2019-11-30 02:15] chrisvxd opened #213 "Funding for fast-xml-parser"
Hey @amitguptagwl! 👋

Just wanted to reach out about funding your work on `fast-xml-parser`.

@transitive-bullshit and I are both open source maintainers, and we're exploring new ways to make OSS funding a viable source of income.

We're currently looking at building SaaS APIs on top of existing OSS libraries, reserving the majority of profits for the original authors. [We've built a few](https://

[2019-11-30 13:07] amitguptagwl commented on #213
Thanks @chrisvxd . I think I need to understand it more. Can you please drop me an email at contact@amitkumargupta.work?

[2019-12-02 20:41] chrisvxd commented on #213
Responded via email :)

[2019-12-04 00:17] amitguptagwl commented on #213
Sorry, @chrisvxd I have not received any mail yet.

[2019-12-08 00:00] chrisvxd commented on #213
Hey @amitguptagwl, have just forwarded again - perhaps it ended up in your junk?

[2019-12-08 02:03] amitguptagwl commented on #213
@chrisvxd thanks. Closing this thread as will communicate on direct channel.

[2019-12-08 02:03] #213 closed

[2019-12-08 05:45] amitguptagwl commented on #186
@MiguelFranken There was a workaround posted on #167 . If it works for you for the time being.

[2019-12-11 10:51] yoshigev opened #214 "Validation of unescaped ampersand"
### Checklist
* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input
"<a>x & y</a>"

### Code
[code]
### O

[2019-12-12 01:16] amitguptagwl commented on #214
@yoshigev Currently, what causing issue in parsing is being validated by the validator. However, we can check for this. Thanks for reporting.

[2019-12-23 13:52] Jasperrr91 opened #217 "Grouped attributes with a prefix don't get renamed"
### Checklist

* [ ] Have you asked your question on Stackoverflow or similar forum?
* [X] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [X] Have you checked if you are using correct configuration?
* [X] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input

[code]

### Code
_\Note: parserOpti

[2019-12-24 12:40] #214 closed

[2019-12-24 12:41] amitguptagwl commented on #214
The change would be published next week.

[2020-01-01 14:04] edi9999 opened #219 "Attribute 'ct:_' is an invalid name since version 3.15.1"
I'm using version `fast-xml-parser@3.15.1`

The following XML throws the following errror :

[code]

[code]

This did not happend with previous versions.

Also https://www.w3schools.com/xml/xml_validator.asp says that this XML is indeed valid.

[2020-01-02 01:07] #219 closed

[2020-01-02 01:16] amitguptagwl commented on #219
It is fixed but not published yet. Will publish this on weekend

[2020-01-02 05:38] edi9999 commented on #219
Thanks !

[2020-01-02 16:16] boddi7 opened #220 "Feature: Validate XML against XSD"
I noticed that there is no way to validate a XML file against a XSD file. This would be a great feature for this project and would prevent people parsing invalid XML files.

[2020-01-03 00:40] amitguptagwl commented on #220
FXP is basically a syntax parser. But yes, parsing/validating against XSD is required in many cases. Hence, it is in the plan in the next major release.

[2020-01-05 18:07] calebeno opened #221 "Missing object property "line" in ValidationError type in parser.d.ts"
### Checklist

* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [ ] Have you checked if you are using correct configuration?
* [ ] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input
In your `parser.d.ts` file it reads:

[2020-01-06 14:57] amitguptagwl commented on #221
Thanks, @calebeno . I have updated the file. However, feel free to raise PR for a small change even.

[2020-01-06 14:57] #221 closed

[2020-01-10 09:04] edi9999 commented on #219
Can you publish a new version please @amitguptagwl ?

[2020-01-11 08:12] amitguptagwl commented on #219
Ah! Sorry I completely missed it. I'll surely publish it tonight

[2020-01-12 05:24] johnsusek opened #223 "Issue parsing attributes json -> xml when arrayMode: 'strict'"
# Checklist

* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input
[code]

Output
[code]

If you change a

[2020-01-15 06:03] anoop29 commented on #220
First of all , thanks Amit for this excellent library. Just wanted to know, is there any timeline that you have planned for this feature? This would be really useful.

[2020-01-16 01:27] amitguptagwl commented on #220
@anoop29 I'm working on FXP v4. This will take some time to complete. I have to then incorporate some priority issues in that. And then I'll pick this feature. Working in free time, I currently can't comment on any timelines. But hoping to complete v4 in next 2 weeks.

[2020-01-29 14:14] izidan opened #228 "value of "0.0" is incorrectly parsed whilst parseNodeValue: true"
test:
`<xml><anything>0.0</anything></xml>`

expect:
`{"anything": 0}`

current:
`{"anything": "0."}`

[2020-02-21 00:49] Chagrilled opened #229 "Prevent floats truncating, and remove attribute prefix"
I'm converting some XML to JSON, doing some stuff with it, then potentially converting it back to XML. I have two issues currently, that I don't quite see options for:

1. Any argument that ends in a zero - "162.0", "1.10" etc is being truncated, and the decimal zero is being lopped off, which I need to prevent. `attrValueProcessor` receives these values as they should be, but they're already stri

[2020-02-21 01:19] amitguptagwl commented on #229
Please use `parseTrueNumberOnly: true`

Feel free to reopen the issue, if the problem is not solved.

[2020-02-21 01:19] #229 closed

[2020-02-21 01:21] amitguptagwl commented on #228
@izidan can you please share the list of options you're passing to the parser. Probably `parseTrueNumberOnly: true` should solve your problem.

[2020-02-21 01:25] Chagrilled commented on #229
Hi, having tried previously, it results in floats ending like `150.0` to become `150.` as in #228, and values such as `1.10` are still truncated to `1.1`.

Anything regarding the attribute names not being parsed back to their un-prefixed names?

[2020-02-21 01:41] amitguptagwl commented on #229
I see no issue
[code]

[code]
[code]

[2020-02-21 02:05] Chagrilled commented on #229
Source XML: https://pastebin.com/eLVPTbCa
Later reparsed: https://pastebin.com/iezC8nth

It is notable on line 7, where numbers are truncated and lose their `0`s, ending in `.`s, and on L860 and L4915 that `1.10` becomes `1.1`, undesirably, when it should stay as `1.10`. Your example also shows `1.10` becoming `1.0` which is perhaps more peculiar.

As the code states, having an attrNodeName declar

[2020-02-22 01:13] amitguptagwl commented on #229
Input XML
[code]
Parsed JSON
[code]
Options that I used while parsing
[code]

[2020-02-23 16:09] Marius8881 opened #230 "Empty node strings"
Hi,
Is it possible to select certain empty node values, "" , and change them to different types, ex, array ? I do not seem to see the option for this., tried it with tagValueProcessor , but it does not see empty "" .

[2020-02-26 00:30] amitguptagwl commented on #230
@Marius8881 Can you please give some example? I'm working on fxp v4. I can probably consider new requirements in that.

[2020-02-28 02:17] amitguptagwl commented on #228
Closing the issue. Please re-open it if you find it unresolved.

[2020-02-28 02:17] #228 closed

[2020-03-02 04:16] #207 closed

[2020-03-02 17:34] etylermoss opened #231 "Array mode adding in empty string if there are multiple nodes."
Hi, when using array mode parsing the following XML:
[code]
with the options:
[code]
the resulting object is this:
[code]

As you can see it's adding in extra empty strings ('') at the end of arrays where there is more than 1 element. For now I've solved this by reducing the result but obviously it's not ideal.

[2020-03-04 08:25] Marius8881 commented on #230
Example:
<x>0</x>
    <y>44</y>
    <width>2</width>
    <minWidth>1</minWidth>
    <maxWidth>12</maxWidth>
    <height>4</height>
    <minHeight>4</minHeight>
    <maxHeight>48</maxHeight>
    <overlays/>
    <frame>
      <static>true</static>
      <nodePath/>
      <color>transparent</color>
    </frame>
  <overlays/> is coming as empty, and I can not see the name of the attribute, because of

[2020-03-06 11:04] amitguptagwl commented on #230
Do you expect `overlays = ' '` in case of `<overlays> <overlays/>` ?

[2020-03-06 11:23] Marius8881 commented on #230
Yes, unfortunately we deal with binary data, and need to use xml, and have issues with the types changing, and we needed to change the type value of a node to what we need, that is why is favorable to see them all, even if empty.

[2020-03-14 09:26] amitguptagwl commented on #230
Try `trimValues: false`

[2020-03-18 14:16] izidan commented on #228
here is a test that shows where it fails; please run with jest or jasmine.

[2020-03-18 14:19] izidan opened #234 "value of "0.0" is incorrectly parsed with parseNodeValue: true and parseTrueNumberOnly: true"
here is a test that shows where it fails; please run with jest or jasmine.

[code]

[code]

[2020-03-18 14:44] izidan opened #235 "issue formatting array of dates using j2xParser"
here is a test that shows the issue

[code]
here is the error

`    Expected: not "<dates></dates><dates></dates><dates></dates>"`

[2020-03-18 14:48] izidan commented on #235
`    Expected: not "<dates></dates><dates></dates><dates></dates>"`
                       ^

[2020-03-23 15:10] svrooij opened #236 "Remove post install?"
I like fast-xml-parser, it works great!! But can you please remove the [postinstall](https://github.com/NaturalIntelligence/fast-xml-parser/blob/master/tasks/postinstall.js). It's also sending out a message when people install my [sonos-lib](https://github.com/svrooij/node-sonos-ts).

You can also use the [funding](https://docs.npmjs.com/configuring-npm/package-json.html#funding) in the **package.

[2020-03-26 12:13] amitguptagwl commented on #236
The purpose of post-install is not only for funding but to let people know about my other open source projects and attract contribution in terms of effort, not money. However, I'll check what appropriate can be done. Thanks

[2020-03-26 12:16] amitguptagwl commented on #234
Thanks for reporting. I believe it should be an easy fix. Would you like to raise a PR for this? I have so many unfinished things on my local so I want to avoid any change as long as I can.

[2020-03-30 11:20] barisbikmaz opened #238 "Can't use library with IE 11"
### Input
Validator.js is using template strings which are not supported in ES 5.

### Code
In our angular app we import fast-xml-parser like that:
[code]
This is now breaking our app in IE11 as validator.js uses template strings.

**Would you like to work on this issue?**

- [ x] Yes
- [ ] No

[Bookmark](https://github.com/NaturalIntelligence/fast-xml-parser/stargazers) this repository for furthe

[2020-03-31 01:43] ralyodio opened #239 "How do I define an attribute in json?"
I have this:

`  doc.urlset['@_xmlns'] = 'http://www.sitemaps.org/schemas/sitemap/0.9';`

along with these optons:

[code]

but the output xml I get is this:

[code]

Also how do I emit the doctype for xml?

[2020-04-02 03:01] brianbento commented on #238
Having the same issue.

[2020-04-02 04:55] priyaainfo commented on #238
Facing the same issue

[2020-04-02 11:04] amitguptagwl commented on #239
Sorry. I couldn't understand this.

[2020-04-02 11:07] #234 closed

[2020-04-02 11:18] amitguptagwl commented on #238
I'm expecting that the transformed code should not have template strings. Can you please highlight the code having issue? And check in [parser.js](https://github.com/NaturalIntelligence/fast-xml-parser/blob/master/lib/parser.js) if it exists.

[2020-04-02 12:56] barisbikmaz commented on #238
I don't have a /lib folder in my node_modules/fast-xml-parser folder. I also don't wont to use the whole bundle.

My node_modules folder:
![image](https://user-images.githubusercontent.com/6338132/78251706-04d1fe00-74f2-11ea-91b4-67a0aa242567.png)

My node_modules/src folder
![image](https://user-images.githubusercontent.com/6338132/78250094-a441c180-74ef-11ea-9caf-4e5bf78a1e12.png)

validator.js

[2020-04-02 12:57] brianbento commented on #238
It's in `validator.js` in several places: https://github.com/NaturalIntelligence/fast-xml-parser/blob/74b55867d00149988e3f60eb6aac8330b0669934/src/validator.js#L149

[2020-04-03 00:29] amitguptagwl commented on #238
I'm still not understanding how are you generating the bundle to use in the browser. The code written in any src folder can use any version of node js but the transpiler transform it to be used by most of the browsers. So, for example,

[code]
converts to

[code]
in bundle file.

I'm using webpack with bable for this. Please let me know how you're using this library in your code to be used in brow

[2020-04-03 02:06] brianbento commented on #238
In the `package.json` you're not serving the transpiled file, your serving it from `src`.

https://github.com/NaturalIntelligence/fast-xml-parser/blob/ea5d544f9a4631a7de88cfe1e8f9b12f48df6ec8/package.json#L5

You should be using `lib/parser.js`.

[2020-04-05 02:19] amitguptagwl commented on #238
It was decided a way back to support code intelligence in editors and other reasons. My question is, when you're using this library in your project, are you not transpiler like webpack to create browser bundle?

[2020-04-07 09:03] barisbikmaz commented on #238
I'm using angular with angular-cli which I think only transpiles typescript files (no babel). So I would need ES5 version of the src files. For example, Angular or React are distributed with several packages, ES5, ES6 etc. Then, in the package.json of the library there are options to tell the packager (usually webpack) what version to use, depending on the target use for TypeScript.

[2020-04-08 18:16] gvillo commented on #173
I made a PR #172, let me know if it's ok, I will solve conflicts later.

[2020-04-10 11:24] amitguptagwl commented on #238
I believe it is a common problem as there can be multiple libraries who are written in ES6. But the choice should be at user's side where they can use the libraries as it is and then can transpile in ES5 or ES6 version as per their need.

[2020-04-15 22:02] barisbikmaz commented on #238
Just as a side note: If your src files were in typescript it would also solve my problem, because angular uses typescript and the typescript compiler can transpile into ES5.

[2020-04-16 06:19] renjuncn opened #242 "int64 parse error"
### Checklist

* [ ] Have you asked your question on Stackoverflow or similar forum?
* [x] Are you running the latest version?
* [x] Have you included sample input, output, error, and expected output?
* [x] Have you checked if you are using correct configuration?
* [x] Did you try online [tool](https://naturalintelligence.github.io/fast-xml-parser/)?

### Input

### Code
[code]

### Output

486200

[2020-04-16 08:48] renjuncn commented on #242
thanks a lot

[2020-04-16 20:24] mskadu opened #243 "why a separate getTraversalObj()?"
Hi,

My first issue here. So hello all and kudos for the the excellent work being done here!

I am here with a question. I have been wondering about this code sample in [fast-xml-parser/master/README.md](https://github.com/NaturalIntelligence/fast-xml-parser/blob/master/README.md)
[code]
Is there any particular reason why getTraversalObj is called separately? Is there any sort of manipulation I ca

[2020-04-17 06:41] amitguptagwl commented on #243
Thanks for your appreciation. This library is more useful when you use it in browser or when you need more parsing options. If you're parsing big files then some native python/c++ based parser may fit better.

This library first parse XML in an intermediate object and then create a JS object from intermediate object. It helps when you've to convert XML into other format like [nimn](https://nimn.in